<ion-modal-view >
  <ion-header-bar class="bar-dark">
    <h1 class="title"><strong ng-bind="selectedItem.klub"></strong></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios-close-empty"></i></button>
    </div>
  </ion-header-bar>
  
  <ion-content>
  <ion-list>
    <ion-item class="item-divider">
      Kampe
    </ion-item>
    <ion-item>
    Kampe:
    <span class="badge badge-clear">{{selectedItem.kampe}}</span>
    </ion-item>
    <ion-item>
    Vundne:
    <span class="badge badge-balanced">{{selectedItem.vundne}}</span>
    </ion-item>
    <ion-item>
    Tabte:
    <span class="badge badge-assertive">{{selectedItem.tabte}}</span>
    </ion-item>
  </ion-list>

</ion-content>
</ion-modal-view>
