<ion-view view-title="Fanzonen" cache-view="true">

<ion-content class="settings"  ng-class="{'has-subheader' : !networkState}">
<div class="my-profile" ng-if="user" ng-style="{'background-image' : !fanzoneimage.image ? 'url(img/Grass.jpg)' : 'url('+fanzoneimage.image+')' }">
	<div class="profile" >
		<img ng-if="user.picture" class="avatar" ng-src="{{user.picture}}" on-error-src="img/avatar-{{user.gender}}.png">
		<h2>{{user.name}}</h2>
		<p>{{user.email}}</p>
	</div>
</div>


	<!-- loading text -->
	<ion-list ng-if="isLoadingContent" class="borderless" >
		<span class="loadingContent">
			Vi henter indhold til dig<span>.</span><span>.</span><span>.</span>
		</span>
	</ion-list>

	<div class="list list-inset">
		<ion-item class="item-divider">
			Dagens kamp
		</ion-item>
		<ion-item href="#/app/fanzone/quiz" class="item-text-wrap item-icon-left">
			<i class="icon ion-university"></i>
			Quizzen
		</ion-item>
		<ion-item href="#/app/fanzone/motm" class="item-text-wrap item-icon-left">
			<i class="icon ion-ribbon-a"></i>
			Stem på kampens spiller
		</ion-item>		
		<ion-item href="#/app/fanzone/spectators" class="item-text-wrap item-icon-left">
			<i class="icon ion-stats-bars"></i>
			Gæt kampens tilskuertal
		</ion-item>
		<ion-item href="#/app/fanzone/surveys" class="item-text-wrap item-icon-left">
			<i class="icon ion-help"></i>
			Svar og vind
		</ion-item>
		<ion-item external href="https://www.aarhuscharter.dk/lykkenummer" class="item-icon-left">
			<i class="icon ion-star"></i>
			Lykkenummer
		</ion-item>	
	</div>

	<div class="list list-inset">
		<ion-item class="item-divider">
			Min profil
		</ion-item>
		<ion-item href="#/app/fanzone/prize-list" class="item-icon-left" >
			<i class="icon ion-trophy"></i>
			Mit præmieskab
		</ion-item>
		<ion-item ng-click="logout()" class="item-icon-left" >
			<i class="icon ion-log-out" ></i>
			Log ud
		</ion-item>
	</div>
<ion-list>		
<div class="appversion text-center" style="margin-bottom: 45px;">
			Version:
			<p>
				<app-version />
			</p>
		</div>




</ion-list>


</ion-content>

</ion-view>
