<ion-view cache-view="true">
<ion-nav-title>
<div class="title-logo">
	<img src="img/randersfc-logo-white-title.png" /> <span class="logo-text">RANDERS FC</span>
</div>
</ion-nav-title>


<ion-content class="forside" ng-class="{'has-subheader' : !networkState}">


	<ion-refresher on-refresh="doRefresh()"></ion-refresher>

	<style>
	.timer-numbers{
	background: {{countdownElement.timer_bg_color}};	
	}
	</style>
	<div class="frontpageElement card" style="padding: 0; margin: 0;" ng-if="countdownElement">
		<a external href="{{countdownElement.link}}">
		<img class="full-image" ng-src="{{countdownElement.image}}" on-error-src="img/no-image.png">
		<timer ng-if="countdownElement.starttime" class="timer" style="top: {{countdownElement.timer_placement}}vw; color: {{countdownElement.timer_text_color}};" end-time="countdownElement.starttime">
			<table>
				<tr>
					<td class="timer-numbers">{{ddays}}</td>
					<td class="spacer"></td>
					<td class="timer-numbers">{{hhours}}</td>
					<td class="spacer"></td>
					<td class="timer-numbers">{{mminutes}}</td>
					<td class="spacer"></td>
					<td class="timer-numbers">{{sseconds}}</td>
				</tr>
				<tr>
					<td class="timer-text">dage</td>
					<td class="spacer"></td>
					<td class="timer-text">timer</td>
					<td class="spacer"></td>
					<td class="timer-text">min</td>
					<td class="spacer"></td>
					<td class="timer-text">sek</td>
				</tr>
			</table>
		</timer>
		</a>
		<!-- && ((countdownElement.epaper_time_start | is_before_now) && (countdownElement.epaper_time_end | is_after_now))  -->
		<ion-item 
		ng-if="
		countdownElement.epaper_link && 
		(countdownElement.countdown_date | is_today) && 
		((countdownElement.epaper_time_start | is_before_now) && 
		(countdownElement.epaper_time_end | is_after_now))"
		class="item item-icon-left text-center item-calm" 
		external 
		ng-href="{{countdownElement.epaper_link}}">
			{{countdownElement.epaper_button_text ? countdownElement.epaper_button_text : 'Se kampprogram'}}
		</ion-item>
	</div>

	<br ng-if="countdownElement"/>
	<!-- WIDGETS -->
<!-- 	<span class="widget" ng-if="widgets.widget1" ng-bind-html="widgets.widget1.content | base64_decode"></span> -->

	<!-- loading text -->
	<ion-list ng-if="isLoadingContent" class="borderless" >
		<span class="loadingContent">Vi henter indhold til dig<span>.</span><span>.</span><span>.</span></span>
	</ion-list>
<!-- CAROUSEL -->
<!-- <div ng-repeat="slide in $root.slides">{{slide}}</div>
 -->
<!--   initial-slide="$root.carousel.start_index"
  autoplay-speed="$root.carousel.autoplay_speed"
  speed="$root.carousel.speed"
  cssEase="easeOut"
 --> <ui-carousel 
 	ng-if="$root.carousel"
  slides="$root.carousel"
  slides-to-show="1"
  slides-to-scroll="1"
  autoplay="true"
  cssEase="ease"
  arrows="false"
  fade="false"
  infinite="true",
  dots="false">
 
  <carousel-item>
  		<ion-item class="item item-header" style="border: 0; border-radius: 0;">
			{{item.header}}
		</ion-item>
		<a external href="{{item.link}}" >
			<div class="card newslist-content" style="padding-bottom: 0;">
				<img class="full-image" on-error-src="img/no-image.png" ng-src="{{ item.image }}" />
			</div>
		</a>
  </carousel-item>
</ui-carousel>

	<!-- FEATURED -->
	<ion-list ng-if="featured" class="featured borderless" >
		<ion-item class="item item-header" ng-if="featured.header" style="border: 0; border-radius: 0;">
			{{featured.header}}
		</ion-item>
		<a external href="{{featured.linkSrc}}" >
		<div class="card newslist-content" style="padding-bottom: 0;">
				<img class="full-image" ng-src="{{featured.imageSrc}}" on-error-src="img/no-image.png">
		</div>
	</a>
	</ion-list>


	<!-- LATEST NEWS -->
	<ion-list ng-if="latestnews" class="borderless" >
		<div class="item item-header">
			Seneste nyheder
		</div>

		<ion-item class="card" style="margin-top: 0; margin-right: 0; margin-left: 0;  padding: 0; border:0; border-radius: 0;" ng-repeat="news in latestnews track by $index">
			<a class="videolink newsitem" href="#/app/news/{{$index}}">
				<img class="full-image" ng-src="{{news.image}}" on-error-src="img/no-image.png">
				<div ng-if="news.video == 1" class="logo-overlay">
					<i class="icon ion-social-youtube-outline"></i>
				</div>
				<div class="item borderless" >
					<span>
						<h2 class="frontpage-news-overskrift" ng-bind-html="news.title"></h2>
						<p class="timefont">{{news.pubDate | convertDate | date : 'dd/MM/yyyy - H:mm' }}</p>
					</span>

					<span >
						<p style="white-space: normal;" ng-bind-html="(news.description | removeHtml | removeHtmlAndCut: 200) + '...'"></p>
					</span>
				</div>
			</a>
		</ion-item>

	</ion-list>

	<!-- LATEST VIDEO -->
<!-- 	<ion-list ng-if="latestvideo" class="latestvideo borderless">
		<ion-item class="item-divider">
			Seneste video
		</ion-item>

		<div class="list card newslist-content" >
			<a class="videolink newsitem" href="#/app/tv/0">
				<img class="full-image" ng-src="{{latestvideo.snippet.thumbnails.medium.url}}" on-error-src="img/no-image.png">
				<div class="logo-overlay">
					<i class="icon ion-social-youtube-outline"></i>
				</div>
				<div class="item borderless" >
					<span>
						<h2 class="frontpage-news-overskrift" ng-bind-html="latestvideo.snippet.title"></h2>
						<p>{{latestvideo.snippet.publishedAt | date : 'dd/MM/yyyy - H:mm'}}</p>
					</span>
				</div>
			</a>
		</div>
	</ion-list> -->


</ion-content>
</ion-view>
