<ion-view>
  <ion-nav-title>Holdopstilling</ion-nav-title>

  <ion-content class="padding" style="background: url({{lineup.src}}) no-repeat; background-size: cover; background-position: center;"  ng-class="{'has-subheader' : !networkState}">
  <div style="width: 100%;" class="padding" ng-bind-html="lineup.text | toTrusted"
  </div>
  </ion-content>
</ion-view>


