<ion-view view-title="Kampprogram" cache-view="false">

<ion-content class="kampprogram">

<!-- <div class="matches" ng-if="nextmatch">
	<ion-item class="matchitem firstitem">

	<div class="row info" >
		<div class="col">
			<img class="logo" ng-src="{{nextmatch.home.logo}}" />
			<div class="logo-shadow-container">
				<div class="logo-shadow"></div>
			</div>
		</div>
		<div class="col col-50 middle">
			<img ng-src="{{nextmatch.logo}}" class="next_matchtypelogo" />
			<p class="name" ng-bind-html="nextmatch.home.name"></p>
			<span class="vs">VS.</span>
			<p class="name" ng-bind-html="nextmatch.away.name">F.C. </p>
		</div>
		<div class="col">
			<img class="logo" ng-src="{{nextmatch.away.logo}}" />
			<div class="logo-shadow-container">
				<div class="logo-shadow"></div>
			</div>
		</div>
	</div>
		<timer class="timer" ng-if="nextmatch.matchday.confirmed" end-time="nextmatch.matchday.confirmed">
		<table>
			<tr>
				<td class="timer-numbers">{{ddays}}</td>
				<td class="spacer"></td>
				<td class="timer-numbers">{{hhours}}</td>
				<td class="spacer"></td>
				<td class="timer-numbers">{{mminutes}}</td>
				<td class="spacer"></td>
				<td class="timer-numbers">{{sseconds}}</td>
			</tr>
			<tr>
				<td class="timer-text">dage</td>
						<td class="spacer"></td>
				<td class="timer-text">timer</td>
						<td class="spacer"></td>
				<td class="timer-text">min</td>
						<td class="spacer"></td>
				<td class="timer-text">sek</td>

			</tr>
		</table>
	</timer>
	<div class="datebar">
		<div class="row">
			<div class="col">
				<div class="row" ng-if="nextmatch.matchday.confirmed">
					<div class="day">{{nextmatch.matchday.confirmed | convertDate | date : 'dd' : '+0100'}}</div>
					<div>
						<span class="month">{{nextmatch.matchday.confirmed | convertDate | date : 'MMMM' : '+0100'}} 
						</span>
						<span class="time">{{nextmatch.matchday.confirmed | convertDate | date : 'HH:mm' : '+0100'}}</span>
					</div>
				</div>
				<div class="row expected" ng-if="nextmatch.matchday.expected">
					<div class="day">
						{{nextmatch.matchday.expected}}
					</div>
					</div>
				</div>
				<div class="col">
					<div class="col tickets-container">			

						<a ng-if="nextmatch.ticket" class="tickets" external="true" href="https://randers2.www2.dk/">
							<span class="tickets-text">Køb billetter</span>
							<i class="icon ion-ios-arrow-right"></i>
						</a>	
					</div>
				</div>
			</div>

		</div>
	</ion-item>

</div> -->

<div class="upcomming-match" ng-repeat="item in matches">


	<div class="matchitem">
	
		<div class="match-info">
			<div class="row" >
				<div class="col">
					<img class="logo" ng-src="{{item.home.logo}}" />
				</div>
				<div class="col-50 middle">
					<div class="name" ng-bind-html="item.home.name" ></div>
					<div class="vs" >VS.</div>
					<div class="name name-away" ng-bind-html="item.away.name"></div>
					<!-- {{item.type}} -->

				</div>
				<div class="col">
					<img class="logo" ng-src="{{item.away.logo}}" />
				</div>
			</div>
		</div>
		<div class="ticketbar" ng-class="{'active' : item.ticket = 1}">
			<div class="row">
				<div class="col">
					<div class="row" ng-if="item.matchday.confirmed">
						<div class="day">
							{{item.matchday.confirmed | convertDate | date : 'dd' : '+0100'}}
						</div>
						<div class="col">
							<span class="month">{{item.matchday.confirmed | convertDate | date : 'MMM' : '+0100'}} 
							</span>
							<span class="time">{{item.matchday.confirmed | convertDate | date : 'HH:mm' : '+0100'}}</span>
						</div>

					</div>
					<div class="row expected" ng-if="item.matchday.expected">
						<div class="day">
							{{item.matchday.expected}}
						</div>
					<!-- 	<div class="col">
							<span class="month">{{item.matchday.confirmed | convertDate | date : 'MMM' : '+0100'}} 
							</span>
							<span class="time">{{item.matchday.confirmed | convertDate | date : 'HH:mm' : '+0100'}}</span>
						</div> -->
					</div>
				</div>
				<div class="col" style="text-align: right;">
					<img ng-src="{{item.logo}}" class="matchtypelogo";/>
				</div>
<!-- 				<div class="col tickets-container">			
					<a ng-if="item.ticket" class="tickets" href="#">
						<span class="tickets-text">Køb billetter</span>
						<i class="icon ion-ios-arrow-right"></i>
					</a>
				</div> -->
				</div>
			</div>
		</div>

	</div>



</ion-content>
</ion-view>
