<ion-view view-title="Kampprogram" cache-view="false">

  <ion-content  ng-class="{'has-subheader' : !networkState}">
    <ion-list>
    <div ng-repeat="item in matches">
		<ion-item class="matchitem" ng-class="{'firstitem' : $index == 0}">


		<div class="row" >
			<div class="col">
				<img ng-src="{{item.home.logo}}" />
				<br/>
				<span ng-bind-html="item.home.name"></span>
			</div>
			<div class="col">{{item.type}}</div>
			<div class="col">
				<img ng-src="{{item.away.logo}}" />
				<br/>
				<span ng-bind-html="item.away.name"></span>
			</div>
		</div>

		</ion-item>
	</div>
	</ion-list>
  </ion-content>
</ion-view>
