<ion-view view-title="Kampprogram" cache-view="false">

<ion-content class="kampprogram"  ng-class="{'has-subheader' : !networkState}">
<ion-refresher on-refresh="doRefresh()"></ion-refresher>

<!-- loading text -->
<ion-list ng-if="isLoadingContent" class="borderless" >
<span class="loadingContent">Vi henter indhold til dig<span>.</span><span>.</span><span>.</span></span>
</ion-list>

<ion-list ng-if="matches && matches.length == 0" class="borderless" >
<div class="text-center padding">Der er i øjeblikket ingen planlagte kampe</div>
</ion-list>
<ion-list ng-if="matches" class="kampprogram">
	<ion-item ng-repeat="item in matches">
		<div class="row row-center">
			<div class="col home right">
				<div class="logo-container" >
					<img class="logo" ng-src="{{item.home.logo}}" />
					<div class="name" ng-bind-html="item.home.name" ng-class="item.home.name.length < 10 ? 'center' : null;"></div>
				</div>
			</div>
			<div class="col col-33 center">
				<div class="matchdate" ng-if="item.matchday.confirmed">
					<div class="type" ng-bind-html="item.type"></div>
					<span class="day">
					{{item.matchday.confirmed | convertDate | date : 'EEEE' }}
					</span>
					<div class="date">
						{{item.matchday.confirmed | convertDate | date : 'dd' }}/{{item.matchday.confirmed | convertDate | date : 'MM'}}
					</div>
					<div class="time">
						{{item.matchday.confirmed | convertDate | date : 'HH:mm' }}
					</div>
				</div>

				<div class="matchdate" ng-if="item.matchday.expected">
					<div class="type" ng-bind-html="item.type"></div>

					<span class="day">
						{{item.matchday.expected | convertDate | date : 'EEEE' }}
					</span>
					<div class="date">
						{{item.matchday.expected | convertDate | date : 'dd' }}/{{item.matchday.expected | convertDate | date : 'MM'}}
					</div>
				</div>
				<!-- 	<div class="day">
						{{item.matchday.confirmed | convertDate | date : 'dd' : '+0100'}}
					</div> -->
						<!-- 	<div class="col">
								<span class="month">{{item.matchday.confirmed | convertDate | date : 'MMM' : '+0100'}} 
								</span>
								<span class="time">{{item.matchday.confirmed | convertDate | date : 'HH:mm' : '+0100'}}</span>
							</div>

						<div class="row expected" ng-if="item.matchday.expected">
							<div class="day">
								{{item.matchday.expected}}
							</div>
						</div> -->
			</div>
			<div class="col away">
				<div class="logo-container" >
					<img class="logo" ng-src="{{item.away.logo}}" />
					<div class="name" ng-bind-html="item.away.name" ng-class="item.away.name.length < 10 ? 'center' : null;"></div>
				</div>
			</div>
		</div>
	</ion-item>
</ion-list>

<!-- 
<div class="upcomming-match" ng-repeat="item in matches">


	<div class="matchitem">
	
		<div class="match-info">
			<div class="row" >
				<div class="col">
					<img class="logo" ng-src="{{item.home.logo}}" />
					<div class="name" ng-bind-html="item.home.name" ></div>
				</div>
				<div class="col-50 middle">
					
					<div class="vs" >VS.</div>
					

				</div>
				<div class="col">
					<img class="logo" ng-src="{{item.away.logo}}" />
					<div class="name name-away" ng-bind-html="item.away.name"></div>
				</div>
			</div>
		</div>
		<div class="ticketbar" ng-class="{'active' : item.ticket = 1}">
			<div class="row">
				<div class="col">
					<div class="row" ng-if="item.matchday.confirmed">
						<div class="day">
							{{item.matchday.confirmed | convertDate | date : 'dd' : '+0100'}}
						</div>
						<div class="col">
							<span class="month">{{item.matchday.confirmed | convertDate | date : 'MMM' : '+0100'}} 
							</span>
							<span class="time">{{item.matchday.confirmed | convertDate | date : 'HH:mm' : '+0100'}}</span>
						</div>

					</div>
					<div class="row expected" ng-if="item.matchday.expected">
						<div class="day">
							{{item.matchday.expected}}
						</div>
					</div>
				</div>
				<div class="col" style="text-align: right;">
					<img ng-src="{{item.logo}}" class="matchtypelogo";/>
				</div>
				</div>
			</div>
		</div>

	</div>
 -->


</ion-content>
</ion-view>
