<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content >

	<div ng-if="!networkState" class="bar bar-assertive bar-subheader">
		<div style="width: 100%; line-height: 30px;" class="text-center network-error">Der er ingen forbindelse til internettet!</div>
	</div>  

	<div class="push-notification item-calm item-text-wrap item animated bounceInOut" style="margin: 10px;" ng-if="pushMessage" >
		<div ng-bind-html="pushMessage | nl2br"></div>		
		<span class="icon ion-close-round" ng-click="closePushMessage()"></span>
	</div>

		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view name="menuContent" >

	</ion-nav-view>
	
	</ion-side-menu-content>

	<ion-side-menu class="sidemenu" ng-style="{'background-image' : ($root.sidemenu.imageSrc) ? 'url('+$root.sidemenu.imageSrc+')' : 'blue'}" side="left">
		<ion-header-bar class="bar-darker">
			<h1 class="title">MENU</h1>
		</ion-header-bar>
		<ion-content>

			<ion-list>
				<ion-item menu-close href="#/app/home" class="item-icon-left" ng-class="{active: isItemActive('home')}">
					<i class="icon ion-ios-home-outline"></i>
					Hjem
				</ion-item>
				<ion-item menu-close href="#/app/news" class="item-icon-left" ng-class="{active: isItemActive('news')}">
					<i class="icon ion-ios-paper-outline"></i>
					Nyheder
				</ion-item>
				<ion-item menu-close href="#/app/tv" class="item-icon-left" ng-class="{active: isItemActive('tv')}">
					<i class="icon ion-social-youtube-outline"></i>
					Randers FC TV
				</ion-item>

				<ion-item menu-close href="#/app/matches" class="item-icon-left" ng-class="{active: isItemActive('matches')}">
					<i class="icon ion-ios-calendar-outline"></i>
					Kampprogram
				</ion-item>
				<ion-item menu-close href="#/app/results" class="item-icon-left" ng-class="{active: isItemActive('results')}">
					<i class="icon ion-arrow-graph-up-right"></i>
					Resultater
				</ion-item>
				<ion-item menu-close href="#/app/positions" class="item-icon-left" ng-class="{active: isItemActive('positions')}">
					<i class="icon ion-podium"></i>
					Stillingen
				</ion-item>
				<ion-item menu-close href="#/app/players" class="item-icon-left" ng-class="{active: isItemActive('players')}">
					<i class="icon ion-man"></i>
					Truppen
				</ion-item>
<!-- 				<ion-item menu-close href="#/app/settings" class="item-icon-left" ng-class="{active: isItemActive('settings')}">
					<i class="icon ion-gear-a"></i>
					Indstillinger
				</ion-item> -->

				<hr class="menu-hr"/>

				<ion-item menu-close href="#/app/fanzone" class="item-icon-left" ng-class="{active: isItemActive('fanzone')}">
					<i class="icon ion-ios-people"></i>
					Fanzonen
				</ion-item>
				<ion-item external href="http://sponsor.randersfc.dk" class="item-icon-left">
					<i class="icon ion-ios-person"></i>
					Sponsorzonen
				</ion-item>

				<hr class="menu-hr"/>

				<ion-item href="#" ng-click="openInApp('facebook', 'https://www.facebook.com/RandersFC')" class="item-icon-left">
					<i class="icon ion-social-facebook"></i>
					Randers FC
				</ion-item>
				<ion-item href="#" ng-click="openInApp('twitter', 'https://twitter.com/randers_fc')" class="item-icon-left">
					<i class="icon ion-social-twitter"></i>
					@randers_fc
				</ion-item>
				<ion-item href="#" ng-click="openInApp('instagram', 'https://www.instagram.com/randersfc/')" class="item-icon-left">
					<i class="icon ion-social-instagram"></i>
					@randersfc
				</ion-item>
								<hr class="menu-hr"/>

<!-- 				<ion-item class="text-center" style="color: #35434B;">
				Version:
			</ion-item> -->
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>

<style ng-if="$root.sidemenu.activeColor">
.sidemenu .item.active a.item-content{
	background: {{$root.sidemenu.activeColor}} !important;
}
</style>
