<ion-view cache-view="false" can-swipe-back="false">
	<ion-nav-title>Kampens spiller</ion-nav-title>

	<ion-content class="grey" ng-class="{'has-subheader' : !networkState}">

	<ion-refresher on-refresh="doRefresh()"></ion-refresher>
	<!-- loading text -->
	<ion-list ng-if="isLoadingContent" class="borderless text-center padding" >
<ion-spinner icon="ios"></ion-spinner>

<!-- 	<span class="loadingContent">Vi henter indhold til dig<span>.</span><span>.</span><span>.</span></span>
 -->	</ion-list>

	<div class="motm" ng-if="motm && motm.motm_id != lastSubmittedMotmId">
	<!-- <div class="motm"> -->

		<div class="event" >
			<img class="full-image" on-error-src="img/man-of-the-match.jpg" ng-src="{{motm.topimage ? motm.topimage : 'img/man-of-the-match.jpg'}}">
		</div>

		<div class="list padding" style="margin-bottom: 50px;">
<!-- 			<ion-item 
			ng-repeat="player in motm.players" 
			class="player-image item-icon-right item-text-wrap" 
			style="margin-bottom: 10px;"
			ng-click="setVote(player.id)">

			<img ng-src="{{player.image}}" />
			<h2><span class="player-number">{{player.number}}.</span> {{player.name}}</h2>
			<p>{{player.position}}</p>
			<i class="icon ion-checkmark-circled" ng-class="playerSelection == player.id ? 'balanced' : 'greyed'"></i>

			</ion-item> -->

			<div class="player-select" 	ng-repeat="player in motm.players" style="margin-bottom: 10px;">
				<ion-item 
				class="player-image item-icon-right item-text-wrap" 
				ng-click="setVote(player.id, player)">

				<img ng-src="{{player.image}}" />
				<h2><span class="player-number">{{player.number}}.</span> {{player.name}}</h2>
				<p>{{player.position}}</p>
				<i class="icon ion-checkmark-circled" ng-class="playerSelection == player.id ? 'balanced' : 'greyed'"></i>
				</ion-item>

				<ion-item class="slide-down item" ng-if="playerSelection == player.id" style="padding: 0;">
					<button style="margin: 0" ng-click="submitVote(motm.motm_id)" class="button button-balanced button-block">Send din stemme</button>
				</ion-item>
			</div>

<!-- 			<ion-item 
			class="player-image item-icon-right item-text-wrap" 
			style="margin-bottom: 10px;"
			ng-click="setVote(player.id)">

			<img ng-src="http://www.randersfc.dk/wp-content/uploads/2017/07/1-Hannes_Halldorsson.png" />
			<h2><span class="player-number">11.</span> adasdas asdasd </h2>
			<p>adasdasd sdadsad</p>
			<i class="icon ion-checkmark-circled" ng-class="playerSelection == player.id ? 'balanced' : 'greyed'"></i>

			</ion-item> -->


		</div>
	</div>

	<div ng-if="lastPlayerSelection && (motm.motm_id == lastSubmittedMotmId || !motm.motm_id && lastPlayerSelection)">
		<br/>
		<h3 class="text-center">Du har senest stemt på:</h3>

		<ion-item class="player-image item-text-wrap">
			<img ng-src="{{lastPlayerSelection.image}}" />
			<h2><span class="player-number">{{lastPlayerSelection.number}}.</span> {{lastPlayerSelection.name}}</h2>
			<p>{{lastPlayerSelection.position}}</p>
		</ion-item>
	</div>

	<div class="motm text-center padding grey-text" ng-if="!motm && !isLoadingContent">
		Der er i øjeblikket ingen aktiv afstemning.
	</div>

	<div class="animate slidein" ng-if="motm && motm.motm_id == lastSubmittedMotmId">
		<div class="vote">
			Din stemme er registreret
			<br/>
			<i class="icon ion-android-checkmark-circle balanced"></i>
		</div>
	</div>
	
	</ion-content>
	<!-- <div class="bar bar-footer bar-footer-shadow animate slideIn" ng-if="playerSelection && motm && (motm.motm_id != lastSubmittedMotmId)" style="padding: 0; margin: 0;">
  <button class="button button-block button-balanced " style="margin: 0;" ng-click="submitVote(motm.motm_id)"><strong>Afgiv stemme</strong></button>
</div> -->
</ion-view>