<ion-view>
  <ion-nav-title>NYHEDER</ion-nav-title>

  <ion-content overflow-scroll="true" scroll="true"  ng-class="{'has-subheader' : !networkState}">
  	<img class="full-image" ng-src="{{newsitem.image}}" on-error-src="img/no-image.png" />
	<div class="news_container">
		<h1 class="news_title " ng-bind-html="newsitem.title"></h1>
    	<span class="datetime timefont">{{newsitem.pubDate | convertDate | date: "dd/MM/yyyy - H:mm"}}</span>
		<div class="news_description" bind-html-compile="newsitem.description | cleanHtml "></div>
	</div>
  </ion-content>
</ion-view>


