<ion-view>
<ion-nav-title>NYHEDER</ion-nav-title>

<ion-content class="newslist"  ng-class="{'has-subheader' : !networkState}">
<ion-refresher on-refresh="doRefresh()"></ion-refresher>
  <!-- loading text -->
  <ion-list ng-if="isLoadingContent" class="borderless" >
    <span class="loadingContent">Vi henter indhold til dig<span>.</span><span>.</span><span>.</span></span>
  </ion-list>

<ion-list>
<div class="list" collection-repeat="item in news">
  <div class="card newslist-content no-padding" style="border-radius: 0;">
  <a class="videolink newsitem" href="#/app/news/{{$index}}">
    <div class="news-image-container">
      <img class="full-image" ng-src="{{item.image}}" on-error-src="img/no-image.png">
    </div>
    <div ng-if="item.video == 1" class="logo-overlay">
        <i class="icon ion-social-youtube-outline"></i>
    </div>
    <div class="item" >
      <span>
        <h2 class="news-overskrift"><span ng-bind-html="item.title" ></span></h2>
        <p class="timefont">{{item.pubDate | convertDate | date : 'dd/MM/yyyy - H:mm' }}</p>
      </span>
      <span >
        <p class="imgdesc" ng-bind-html="(item.description | removeHtmlAndCut: 130) + '...'"></p>
      </span>
    </div>
  </a>
</div>
</div>

</ion-list>
<ion-infinite-scroll immediate-scroll-immediate-check="false" on-infinite="loadMore()" distance="10%" >

</ion-infinite-scroll>
</ion-content>
</ion-view>