<ion-view>
  <ion-nav-title>{{player.name}}</ion-nav-title>

  <ion-content class="grey" overflow-scroll="true" scroll="true"  ng-class="{'has-subheader' : !networkState}">
  	<img class="full-image" ng-src="{{player.image}}" on-error-src="img/no-image.png" />
	<div class="news_container">
		<h1 class="news_title" style="text-align: center; margin-top: 0;" >{{player.number}}. {{player.name}}</h1>
		<div class="card padding">
			<div class="list">
				<div ng-if="player.info" class="item item-text-wrap">
					<h2><strong>Kort om</strong></h2>
					<p ng-bind-html="player.info"></p>
				</div>
				<div ng-if="player.clubs" class="item item-text-wrap">
					<h2><strong>Tidligere klubber</strong></h2>
					<p>{{player.clubs}}</p>
				</div>
				<div ng-if="player.position" class="item item-text-wrap">
					<h2><strong>Position</strong></h2>
					<p>{{player.position}}</p>
				</div>
				<div ng-if="player.nation" class="item item-text-wrap">
					<h2><strong>Nation</strong></h2>
					<p>{{player.nation}}</p>					
				</div>
				<div ng-if="player.birthday" class="item item-text-wrap">
					<h2><strong>Fødselsdag</strong></h2>
					<p>{{player.birthday}}</p>				
				</div>
				<div ng-if="player.age" class="item item-text-wrap">
					<h2><strong>Alder</strong></h2>
					<p>{{player.age}}</p>
				</div>
				<div ng-if="player.height" class="item item-text-wrap">
					<h2><strong>Højde</strong></h2>
					<p>{{player.height}}</p>
				</div>
				<div ng-if="player.weight" class="item item-text-wrap">
					<h2><strong>Vægt</strong></h2>
					<p>{{player.weight}}</p>
				</div>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>


