<ion-view>
<ion-nav-title>Truppen</ion-nav-title>

<ion-content class="players"  ng-class="{'has-subheader' : !networkState}">
<ion-refresher on-refresh="doRefresh()"></ion-refresher>
<!-- loading text -->
<ion-list ng-if="isLoadingContent" class="borderless" >
<span class="loadingContent">Vi henter indhold til dig<span>.</span><span>.</span><span>.</span></span>
</ion-list>

<ion-list>
<style>
.odd{
  background: #ededed;
}
.flex-center{
  display: flex;
  height: 100%;
}
</style>


<a class="item item-text-wrap no-padding" href="#/app/players/{{$index}}" ng-class="{'odd' : $index % 2 == 0}" ng-repeat="item in players">
  <table>
    <tr>
      <td style="height: 100%;">
        <div class="flex-center">
          <div style="width:30%; height: 100%; line-height: 100%; text-align: right; padding: 5px; font-size: 48px;">
            {{item.number}}
          </div>
          <div style="width: 70%; height: 100%; padding: 5px; margin-left: 10px;">
            <strong >{{item.name}}</strong>
            <p>{{item.position}}</p>
          </div>
        </div>
      </td>
      <td style="width: 30%">
        <img ng-src="{{item.image}}" style="height: auto; width: 100%" on-error-src="img/no-image.png">

      </td>
    </tr>
  </table>


</a>


<!--   <div class="card newslist-content no-padding" style="border-radius: 0;">
  <a class="videolink newsitem" href="#/app/news/{{$index}}">
    <div class="news-image-container">
      <img class="full-image" ng-src="{{item.image}}" on-error-src="img/no-image.png">
    </div>
    <div class="item" >
      <span>
        <h2 class="news-overskrift"><span ng-bind-html="item.name" ></span></h2>
      </span>
      <span >
        <p class="imgdesc" ng-bind-html="(item.name | removeHtmlAndCut: 130) + '...'"></p>
      </span>
    </div>
  </a>
</div> -->

</ion-list>

</ion-content>
</ion-view>