<ion-view cache-view="false">
  <ion-nav-title>Stillingen</ion-nav-title>

  <ion-content  ng-class="{'has-subheader' : !networkState}">
<ion-refresher on-refresh="doRefresh()"></ion-refresher>


<!-- loading text -->
<ion-list ng-if="isLoadingContent" class="borderless" >
<span class="loadingContent">Vi henter indhold til dig<span>.</span><span>.</span><span>.</span></span>

</ion-list>
<!-- groups -->
  	<ion-list ng-repeat="group in positions.liga"ng-if="positions">
    <div>
      <ion-item class="item-divider text-center item-dark" style="border-top: none;">
        {{group.navn}}
      </ion-item>
      <ion-item class="item-divider no-padding" style="padding-top: 3px;">
        <div class="row">
          <div class="col-10 center">#</div>
          <div class="col-50" style="padding-left: 5px;">klub</div>
          <div class="col-20 center">kampe</div>
          <div class="col-20 center">point</div>
        </div>
      </ion-item>
      <ion-item ng-repeat="item in group.placering" class="position item-text-wrap no-padding"> 
      <div class="row no-padding" ng-class="{clubrfc: item.klub == 'Randers FC'}" >
        <div class="col-10 padding-vertical center placering">{{item.nr}}</div>
        <div class="col-50 padding klubnavn" ng-bind-html="item.klub"></div>
        <div class="col-20 padding-vertical center kampe">{{item.kampe}}</div>
        <div class="col-20 padding-vertical center points">{{item.point}}</div>
      </div>
    </div>
  		</ion-item>
      <br/>
	</ion-list>

  </ion-content>
</ion-view>


