<ion-view view-title="Resultater" cache-view="false">

<ion-content class="kampprogram"  ng-class="{'has-subheader' : !networkState}">
<ion-refresher on-refresh="doRefresh()"></ion-refresher>

<!-- loading text -->
<ion-list ng-if="isLoadingContent" class="borderless" >
<span class="loadingContent">Vi henter indhold til dig<span>.</span><span>.</span><span>.</span></span>
</ion-list>

<ion-list ng-if="results && results.length == 0" class="borderless" >
<div class="text-center padding">Der er i øjeblikket ingen spillede kampe at vise</div>
</ion-list>
<ion-list ng-if="results" class="kampprogram">
	<ion-item ng-repeat="item in results">
		<div class="row row-center">
			<div class="col home right">
				<div class="logo-container" >
					<img class="logo" ng-src="{{item.home.logo}}" />
					<div class="name" ng-bind-html="item.home.name" ng-class="item.home.name.length < 10 ? 'center' : null;"></div>
				</div>
			</div>
			<div class="col col-33 center">
				<div class="matchdate" ng-if="item.matchday.confirmed">

					<div class="day" ng-bind-html="item.type"></div>
					<div class="result">
						{{item.home.points}} - {{item.away.points}}
					</div>
					<span class="day">
						{{item.matchday.confirmed | convertDate | date : 'EEE' }} {{item.matchday.confirmed | convertDate | date : 'dd' }}/{{item.matchday.confirmed | convertDate | date : 'MM'}}
					</span>
				</div>

				<div class="matchdate" ng-if="item.matchday.expected">
										<div class="day" ng-bind-html="item.type"></div>
					<div class="result">
						{{item.home.points}} - {{item.away.points}}
					</div>
					<span class="day">
						{{item.matchday.expected | convertDate | date : 'EEE' }} {{item.matchday.expected | convertDate | date : 'dd' }}/{{item.matchday.expected | convertDate | date : 'MM'}}
					</span>
				</div>
				
			</div>
			<div class="col away">
				<div class="logo-container" >
					<img class="logo" ng-src="{{item.away.logo}}" />
					<div class="name" ng-bind-html="item.away.name" ng-class="item.away.name.length < 10 ? 'center' : null;"></div>
				</div>
			</div>
		</div>
	</ion-item>
</ion-list>



</ion-content>
</ion-view>
