<ion-view view-title="Indstillinger" can-swipe-back="false" cache-view="false">
	<ion-content class="settings"  ng-class="{'has-subheader' : !networkState}">
		<ion-refresher on-refresh="getNotifications()"></ion-refresher>

		<div class="list list-inset" >

			<ion-item class="item-divider">

				Notifikationer
			</ion-item>
			<!-- loading text -->
			<div ng-if="!notificationTypes">
				<ion-item ng-if="isLoadingContent">
					<span class="loadingContent">Henter dine indstillinger<span>.</span><span>.</span><span>.</span></span>
				</ion-item>
				<ion-item ng-if="!isLoadingContent" class="text-center item-text-wrap">
					<small>Det ser ud til at du har slået notifikationer fra i din telefons indstillinger.</small>
				</ion-item>
			</div>
		
			<ion-toggle ng-if="notificationTypes"  ng-repeat="item in notificationTypes" ng-model="item.checked" ng-checked="item.checked" class="item-small item-grey item-toggle" ng-change="changeNotification(item)">
				{{item.title}}
			</ion-toggle>

		</div>
		<div class="appversion text-center">
			Version:
			<p>
				<app-version />
			</p>
		</div>
	</ion-content>
</ion-view>