<ion-view cache-view="false" can-swipe-back="false">
	<ion-nav-title>Kampens tilskuertal</ion-nav-title>

	<ion-content class="grey" ng-class="{'has-subheader' : !networkState}">

	<ion-refresher on-refresh="doRefresh()"></ion-refresher>
	<!-- loading text -->
	<ion-list ng-if="isLoadingContent" class="borderless text-center padding" >
		<ion-spinner icon="ios"></ion-spinner>
	</ion-list>

	<div class="spectators" ng-if="spectators && spectators.id != lastSubmittedSpectatorsId">
	<!-- <div class="motm"> -->

		<div class="event" >
			<img class="full-image" on-error-src="img/spectators.jpg" ng-src="{{spectators.topimage ? spectators.topimage : 'img/spectators.jpg'}}">
		</div>

		<div class="list padding">

			<div class="large_input">	
				<input ng-change="checkGuess(guess)" ng-model="guess.number" maxlength="6" type="tel" style="font-size: 36px;">
			
				<br/>

					<button style="margin: 0" ng-click="submitGuess(spectators.id, guess.number)" class="button button-block" ng-class="guess.number > 0 ? 'button-balanced' : 'disabled'">Send din gæt</button>

			</div>


<!-- 			<ion-item 
			class="player-image item-icon-right item-text-wrap" 
			style="margin-bottom: 10px;"
			ng-click="setVote(player.id)">

			<img ng-src="http://www.randersfc.dk/wp-content/uploads/2017/07/1-Hannes_Halldorsson.png" />
			<h2><span class="player-number">11.</span> adasdas asdasd </h2>
			<p>adasdasd sdadsad</p>
			<i class="icon ion-checkmark-circled" ng-class="playerSelection == player.id ? 'balanced' : 'greyed'"></i>

			</ion-item> -->


		</div>
	</div>

	<div ng-if="lastSubmittedSpectatorsGuess && (spectators.id == lastSubmittedSpectatorsId || (!spectators.id && lastSubmittedSpectatorsGuess))">
		<br/>
		<h3 class="text-center">Dit seneste gæt:</h3>

		<ion-item class="text-center">
			<h2>{{lastSubmittedSpectatorsGuess}}</h2>
		</ion-item>
	</div>

	<div class="motm text-center padding grey-text" ng-if="!spectators && !isLoadingContent">
		Der er i øjeblikket ingen aktiv konkurrence.
	</div>
	<div class="animate slidein" ng-if="spectators && spectators.id == lastSubmittedSpectatorsId">
		<div class="vote">
			Dit gæt er registreret
			<br/>
			<i class="icon ion-android-checkmark-circle balanced"></i>
		</div>
	</div>
	
	</ion-content>
</ion-view>