<!-- <ion-view>
  <ion-nav-title>RANDERS FC TV</ion-nav-title>

  <ion-content class="tv">
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>

	<ion-list>
	 <div class="list card" ng-repeat="item in videos" >
		<a class="videolink" href="#/app/tv/{{$index}}">
		  	<div class="item">
			    <h2>{{item.snippet.title}}</h2>
			    <p>{{item.snippet.publishedAt | date : 'dd/MM/yyyy  - H:mm'}}</p>
			</div>

		  	<div class="item item-image">
		    	<img ng-src="{{item.snippet.thumbnails.medium.url}}">
		  	</div>

		  	<div class="item item-icon-left assertive">
		    	<i class="icon ion-ios-videocam"></i>
		    	Se video
		    </div>
	  	</a>
	</div>

	</ion-list>
 	<ion-infinite-scroll immediate-check="false" on-infinite="loadMore()" distance="10%" >

	</ion-infinite-scroll>

  </ion-content>
</ion-view> -->
<ion-view>
	<ion-nav-title>RANDERS FC TV</ion-nav-title>

	<ion-content class="newslist"  ng-class="{'has-subheader' : !networkState}">
	<ion-refresher on-refresh="doRefresh()"></ion-refresher>
	<ion-list>
	<div class="list" collection-repeat="item in videos" >
		<div class="card newslist-content no-padding">
		<a class="videolink newsitem" href="#/app/tv/{{$index}}">
			<div class="youtube-image">
				<img class="full-image" ng-src="{{item.snippet.thumbnails.high.url}}" on-error-src="img/no-image.png">
			</div>
			<div class="logo-overlay">
				<i class="icon ion-social-youtube-outline"></i>
			</div>			
			<div class="item">
				<span>
					<h2 class="news-overskrift"><span ng-bind-html="item.snippet.title"></span></h2>
					<p class="timefont">{{item.snippet.publishedAt | convertDate | date : 'dd/MM/yyyy - H:mm' }}</p>
				</span>
			</div>
		</a>
	</div>
	</div>

	</ion-list>
 	<ion-infinite-scroll immediate-check="false" on-infinite="loadMore()" distance="10%" >

	</ion-infinite-scroll>

	</ion-content>
</ion-view>