<ion-view>
  <ion-nav-title>RANDERS FC TV</ion-nav-title>

  <ion-content class="video"  ng-class="{'has-subheader' : !networkState}">

  <div class="video-container">
  	
  	<youtube videoid="{{videoid}}"></youtube>
  </div>
 	<h1 class="video_title">{{video.snippet.title}}</h1>
    <span class="datetime timefont">{{video.snippet.publishedAt | date : 'dd/MM/yyyy  - H:mm' : '+0100'}}</span>
	<div class="video_description">{{video.snippet.description}}</div>

  </ion-content>
</ion-view>
