/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/




// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;


$positive: #012443;
$datetime-color: #969696;
$background-grey: #eee !important;
$facebook: #1D2DFF !important;

//side-menu
$side-menu-bg: #34373c;
$side-menu-header-bg: #222327;
$side-menu-active-bg-color: #24292c;


//news
$em-bg-color: #ebebeb;
$em-text-color: #585858;
$news_desc-text-color: #424242;
$news_title-background: $positive;
$news_title-text-color: #fff;

//backgrounds
$newslist-bg:      		'../img/backgrounds/pic1.jpg';
$tv-bg:      			'../img/backgrounds/pic5.jpg';
$menu-bg:      			'../img/randersstadion2.png';
/*$menu-bg:      			'../img/stadion.jpg';*/
$matches-highlight-bg:  '../img/grassbg.jpg';
$font-family-base: "Raleway", sans-serif !default;

//quiz
$progressbarBackground: black;
$progressbarFillColor: #32D932;
$progressbarFlashBackground: orange;
$progressbarFlashFillColor: blue;


//quiz blue theme
$quiz-blue-border: #B4C0D1;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// CUSTOM STYLES
div{
	font-family: Raleway !important;
}

body { -webkit-font-smoothing: antialiased !important; }
.timefont{
	font-family: Montserrat !important;
	margin-bottom: 10px !important;
}

/* Title/header text */
.title-logo .logo-text{
	vertical-align: middle;
	line-height: 40px;
	vertical-align: center;
	font-weight: normal;
	text-transform: uppercase;
	margin-left: 5px;

	
}
.title-logo{
	line-height: 40px;
}
.title-logo img{
	height: 30px;
	vertical-align: middle;
}
.title{
	font-family: Raleway;
	font-weight: medium;	
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.25);

}

/* Forside */

.forside{
	background: $background-grey;
}



a.videolink{
	text-decoration: none !important;
}
/* News / Newslist*/

.datetime{
	color: $datetime-color;
}

/* Newslist*/
.newslist{
	/*background: url($newslist-bg) no-repeat center center fixed;*/
	background: $background-grey;
	background-size: cover;
}
.grey{
	background: $background-grey;
}
.newslist .list{
	padding-top: 0 !important;
}
.newslist .list .item{
	border: none !important;
	padding-top: 5px;
	
}
.news-overskrift{
	font-weight: bold !important;
	white-space: pre-wrap !important;
}
.news-overskrift span{
	display: inline-block !important;
	width: 100% !important;
}



/* News */
.news_container{
	padding: 0;
	margin: 0;
}
.news_container h1{
	font-weight: bold;
}
.news_container .news_title{
	padding: 10px;
	background: $positive;
	color: $news_title-text-color;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: -5px;
}
.news_container .datetime{
	padding: 10px;
}

.news_container .news_description{
	white-space: pre-wrap;
	color: $news_desc-text-color;
	padding: 10px;
}

.news_container .news_description br{
	display: block;
	margin: 5px 0;

}
.news_container .news_description em{
	font-style: italic;
	background: $em-bg-color;
	display: block;
	padding: 15px;
	margin: 0;
	margin-bottom: 25px;
	color: $em-text-color;
}

.news_container .news_description img{
	max-width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	margin: 0 auto;
}



/* tv */
.tv{
	/*background: url($tv-bg) no-repeat center center fixed;*/
	/*background-size: cover;*/
	background: $background-grey;
}



.video-container{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden; 
	background: #ADADAD url(../img/loader.gif) center center no-repeat;
	background-size: 150px 200px;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* video */
.video .video_title{
	padding: 10px;
	background: $positive;
	color: $news_title-text-color;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: -5px;
	font-weight: bold;
}
.video .video_description{
	white-space: pre-wrap;
	color: $news_desc-text-color;
	padding: 10px;
}
.video .datetime{
	padding: 10px;
}

/*
*/
/* Sidemenu 
/*
*/

.sidemenu{
	/*background: $side-menu-bg;*/
	background: url($menu-bg) no-repeat center center;
	background-size: cover;
}
.sidemenu .bar-darker{
	/*header*/

	background: rgb(39,42,47); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(39,42,47,1) 0%, rgba(33,34,38,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(39,42,47,1) 0%,rgba(33,34,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(39,42,47,1) 0%,rgba(33,34,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272a2f', endColorstr='#212226',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #393a3e;
	border-bottom: 1px solid #151515;
}

.sidemenu .bar .title{
	/*header*/
	font-family: Raleway;
	font-weight: medium;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

.sidemenu .item{
/*	border-bottom: solid 1px #3d4045 !important;
*/	
border-bottom: none !important;
border-top: none !important;
background: none !important;
}

.sidemenu .item .icon{
	font-size: 24px;
}

.sidemenu .item a.item-content{
/*	border-top: 1px solid #3d4045 !important;

border-bottom: 1px solid #23262b;*/
/*background: #34373c !important;*/

border-top: 1px solid rgba(0,0,0,0) !important;
border-bottom: 1px solid rgba(0,0,0,0) !important;
background: none !important; 
color: #fff;
font-size: 16px;
font-weight: normal;
text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
font-family: Raleway;
font-weight: medium;
}

.sidemenu .item.active a.item-content
{
/*	border-top: 1px solid #292727 !important;
border-bottom: 1px solid #191A1C !important;*/
/*	background: #292c31 !important;*/	
background: rgba(0,17,35,0.6) !important;
/*	border-top: none !important;
border-bottom: none !important;*/
	/*border-top: 1px solid rgba(0,14,35,0.4) !important;
	border-bottom: 1px solid rgba(0,14,35,0.4) !important;*/


	/*border-left: 4px solid $positive;*/

}

/* Newslist 2*/
.newslist-content{
	margin: 0 !important;
	margin-bottom: 20px !important;
	background: #fff;
}

.newsitem{
	margin: 0;
	background: #fff !important;
}

/* Kampprogram */
/*.matchitem{
	text-align: center;
}
.firstitem{
	padding: 0;
	border: 0;
	background: #ADADAD url($matches-highlight-bg) center center no-repeat;

	color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	text-align: center;
	background-size: cover;
	vertical-align: middle;
}
.firstitem .col{
	padding: 0;
}
.firstitem .logo{
	padding: 0.5vw;
	width: 100%;
	width: 22vw;
	height: 22vw;
	max-width: 300px;
	max-height: 300px;
	border-radius: 18vw;
	border: 1vw solid rgba(255, 255, 255, .3);
	background: #fff;
	background-clip: padding-box;
}
.firstitem .logo-shadow-container{
	display: block;
	width: 25vw;
}
.firstitem .logo-shadow{

	display: block;
	text-align: center;
	height:1vw;
	width: 10vw;
	background: #000;
	opacity:0.5;
	border-radius:100%;
	margin: 0 auto;
	margin-top: 2vw;
	-webkit-filter: blur(0.2vw);
	-moz-filter: blur(0.2vw);
	-o-filter: blur(0.2vw);
	-ms-filter: blur(0.2vw);
	filter: blur(0.2vw);
}

.firstitem .datebar .row{
	padding: 0;
	height: 100% !important;
	line-height: 100% !important;
}
.firstitem .datebar .col{
	padding: 0;
	height: 100% !important;
	line-height: 100% !important;
}

@media screen and (min-width: 500px) {
	.firstitem .datebar{
		height: 75px !important;
	}
	.firstitem .datebar .day{
		font-size: 70px !important;
	}
	.firstitem .datebar .month{
		margin-top: 10px !important;
		font-size: 24px !important;
	}
	.firstitem .datebar .time{
		margin-top: 0px !important;
		font-size: 30px !important;
	}
	.kampprogram .firstitem .datebar .tickets{
		font-size: 18px !important;
		padding-top: 25px !important;
	}
}

.firstitem .datebar{
	width: 100%;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	color: #fff;
	margin: 0;
	padding: 0;
	line-height: 100%;
	height: 15vw;
}
.firstitem .datebar .day{
	text-align: right;
	display: block;
	font-size: 13vw;
	font-weight: bold;
	height: 100%;
	line-height: 100%;
	padding-left: 15px;
}

.firstitem .datebar .month{
	margin-left: 1vw;
	text-align: left;
	display: block;
	font-size: 4.5vw;
	margin-top: 2vw;
	text-transform: uppercase;
	line-height: 100%;
}

.firstitem .datebar .time{
	line-height: 100%;
	margin-top: 0.6vw;
	margin-left: 1vw;
	text-align: left;
	display: block;
	font-size: 4.5vw;
	text-transform: uppercase;
}
.firstitem .timer{
	padding-bottom: 15px;	
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	display: block;
}
.firstitem .timer table{
	margin: 0 auto;
}
.firstitem .timer .timer-numbers{
	height: 8vw;
	line-height: 6vw;
	font-size: 8vw;
	padding: 2vw;
	background: rgba(0,0,0,0.5);
}
.firstitem .timer .spacer{
	width: 1vw;
	background: none;
}
.firstitem .timer .timer-text{
	padding: 1vw;
	font-size: 3vw;
	text-transform: uppercase;
}

.icon-right{
	position: absolute;
	right: 20px;
	font-size: 24px;
}
.info{
	padding-top: 7vw;
	padding-bottom: 7vw;
}
.info .middle{
	margin-top: 3vw;
}
.info p.name{
	font-weight: bold;
	display: inline-block;
	font-size: 2.3em;
	font-size: 5vw;
	text-transform: uppercase;
	line-height: 6vw;
	text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
	color: #fff;
	width: 100%;

}
.info .vs{
	display: block;
	font-size: 2.5vw;
	text-shadow: 4px 4px 4px rgba(0,0,0,0.5);

	}*/

	/* Upcomming matches*/
/*.kampprogram{
	background: $background-grey;
}
.kampprogram .firstitem .tickets-container{
	text-align: right;
	height: 100%;
}
.kampprogram .firstitem .tickets-container .tickets-text{
	vertical-align: middle;
	font-weight: bold;
}
.kampprogram .firstitem .datebar .tickets{
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 4vw;
	text-transform: uppercase;
	text-align: right;
	text-decoration: none;
	height: 100%;
	padding-top: 3vw;
	margin-right: 10px;
}
.kampprogram .firstitem .datebar .icon{
	font-size: 24px;
	margin-left: 5px;
	vertical-align: middle;
}
.upcomming-match{
	margin: 10px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.kampprogram .upcomming-match .match-info{
	padding: 10px;
}


.kampprogram .upcomming-match .tickets-container{
	text-align: right;
	height: 100%;
}

.kampprogram .upcomming-match .tickets-container a.tickets{
	display: block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: right;
	text-decoration: none;
	height: 100%;
	padding-top: 13px;
	margin-right: 10px;
}

.kampprogram .upcomming-match a .icon{
	font-size: 24px;
	margin-left: 5px;
	vertical-align: text-bottom;
}

.kampprogram .upcomming-match a .tickets-text{
	vertical-align: middle;
}



.kampprogram .upcomming-match .ticketbar .row{
	padding: 0;
	height: 100% !important;
	line-height: 100% !important;
}
.kampprogram .upcomming-match .ticketbar .col{
	padding: 0;
	height: 100% !important;
	line-height: 100% !important;
}

.kampprogram .upcomming-match .ticketbar .date-container{
	text-align: left;
}

.kampprogram .upcomming-match .ticketbar .day{
	text-align: right;
	display: block;
	font-size: 40px;
	font-weight: bold;
	height: 100%;
	line-height: 100%;
	padding-left: 10px;
	padding-top: 3px;
}

.kampprogram .upcomming-match .ticketbar .month{
	margin-left: 5px;
	text-align: left;
	display: block;
	font-size: 15px;
	margin-top: 8px;
	text-transform: uppercase;
	line-height: 100%;
}

.kampprogram .upcomming-match .ticketbar .time{
	line-height: 100%;
	margin-top: 0px;
	margin-left: 5px;
	text-align: left;
	display: block;
	font-size: 15px;
	text-transform: uppercase;
}


.match-info{
	height: 33vw;
}
.match-info .row{
	height: 100%;
}


.match-info .logo{
	margin-top: 1vw;
	width: 15vw;
	height: 15vw;
	vertical-align: middle;
}
.match-info .middle{
	height: 25vw !important;
	line-height: 5vw;
	margin-top: 1vw;
}
.match-info .vs{
	font-size: 3vw;
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
}

.match-info .name{
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	font-size: 4.5vw;
	font-weight: bold;
}
.firstitem .expected .day{
	font-size: 6vw !important;
	line-height: 15vw !important;
}

.expected .day{
	font-size: 24px !important;
	line-height: 40px !important;
}

@media screen and (min-width: 500px) {
	.firstitem .expected .day{
		font-size: 24px !important;
		line-height: 70px !important;
	}
	.match-info{
		height: 150px;
	}
	.match-info .middle{
		line-height: 28px;
		margin-top: 5px;
		height: 110px !important;
	}
	.match-info .logo{
		margin-top: 15px !important;
		height: 75px !important;
		width: 75px !important;
	}
	.match-info .name{
		font-size: 26px;
	}
	.match-info .vs{
		font-size: 15px !important;
		margin-top: 7px !important;
		margin-bottom: 7px !important;
	}
}

/* Settings */
.settings{
	background: $background-grey;
}

.appversion{
	color: #939393;
}


.item-divider{
	height: 10px;
	line-height: 12px;
	color: #777777;
	background-color: #f5f5f5;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
}
.item-header{
	height: 40px;
	line-height: 40px;
	padding: 0;
	padding-left: 16px;
	color: #fff;
	background-color: $positive;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	border-top: 0;
}
.item-small{
	font-size: 14px;
}
.item-grey{
	color: #7A7A7A;
}

.item-small a{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.item-small .input-label{
	color: #7A7A7A;
	font-size: 14px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	
}
.item-small .icon{
	font-size: 24px;
	
}
br.small {
	display: block;
	content: "";
	line-height: 8px;
	margin: 10px 0 !important;
}

/* Latest news*/
.borderless{
	border: none !important;
}

/*.matchtypelogo{
	margin: 10px;
	 height: 30px; 
	 border-radius: 3px; 
	 }*/
/*.next_matchtypelogo{
	position: absolute;
	height: 5vw; 
	left: 43vw;
	top: 3vw;
	border-radius: 0.5vw; 
	}*/
	.no-padding{
		padding: 0;
	}
	.padding-vertical{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.center{
		text-align: center;
	}

	/* Stillingen */
	.placering{
		font-family: Montserrat !important;
		border-right: 1px solid #E4E4E4;	
/*		background: #F8F8F8;
*/
	}

	.klubnavn{
		font-weight: normal;
	}

	.kampe{
		font-family: Montserrat !important;
		font-weight: 100;
		color: #A1A1A1;
		/*background: #F8F8F8;*/
		border-left: 1px solid #E4E4E4;
		border-right: 1px solid #E4E4E4;
	}

	.points{
		font-family: Montserrat !important;
		color: #A1A1A1;
	}

	.clubrfc{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88aac8+0,7db9e8+0,395376+100 */
		background: #90b1cf;
		background: rgb(136,170,200); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(136,170,200,1) 0%, rgba(125,185,232,1) 0%, rgba(57,83,118,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(136,170,200,1) 0%,rgba(125,185,232,1) 0%,rgba(57,83,118,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background:  linear-gradient(to right, rgba(136,170,200,1) 0%,rgba(125,185,232,1) 0%,rgba(57,83,118,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88aac8', endColorstr='#395376',GradientType=1 ); /* IE6-9 */

	   -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,0.25);
	   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
	   box-shadow:         inset 0 0 5px rgba(0,0,0,0.25);
	}
	.clubrfc, .clubrfc > .placering, .clubrfc > .kampe, .clubrfc > .points{
		border: 0;
		color: #fff ;
		text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	}

	.frontpageElement .timer{
		font-family: Montserrat !important;
		font-weight: light !important;
		position: absolute;
		margin: 0 auto;
		text-align: center;
		top: 55vw;
		color: #fff;
		display: block;
		width: 100%;
	}

	.frontpageElement .timer{
		text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
		display: block;
	}
	.frontpageElement .timer table{
		margin: 0 auto;
	}
	.frontpageElement .timer .timer-numbers{
		height: 10vw;
		width: 16vw;
		line-height: 5vw;
		font-size: 8vw;
		padding: 2vw;

	}
	.frontpageElement .timer .spacer{
		width: 1vw;
		background: none;
	}
	.frontpageElement .timer .timer-text{
		padding: 1vw;
		font-size: 3vw;
		text-transform: uppercase;
	}
	img {
		vertical-align: middle;
	}

	.news-overskrift{
		height: 40px;
		line-height: 40px;
	}
	.news-overskrift > span{
		display: inline-block;
		height: 40px;
		line-height: 20px;
		vertical-align: center;
	}

	.imgdesc{
		white-space: normal !important;
		height: 60px;
		line-height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	@media screen and (min-width: 500px) {
		.imgdesc{
			height: 40px;
			line-height: 20px;
		}
	}
	.logo-overlay{
		position: absolute;
		top: 15vw;
		left: 40vw;
		font-size: 20vw;
		color: #fff;
		text-shadow: 1.5vw 1.5vw 1.5vw rgba(0,0,0,0.5);
	}
	.frontpage-news-overskrift{
		white-space: normal !important;	
		font-weight: bold !important;
		margin-bottom: 10px !important;
	}

	.card{
		border-radius: 0 !important;
		border: 0;
	}

	.dashed_top{
		border-top: 1px dashed #000 !important;
	}

	/*Kampprogram*/
	.kampprogram{
		font-family: Raleway;
	}
	.kampprogram .right{
		text-align: right;
	}
	.kampprogram .center{
		text-align: center;
	}
	.kampprogram .logo-container{
		display: inline-block;
	}
	.kampprogram .logo{
		max-height: 60px;
		max-width: 60px;
	}
	.kampprogram .name{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 28vw;
		padding-top: 5px;
		font-family: RalewayBold;
		color: #757575;
		font-weight: bold;
		font-size: 18px;
		text-transform: uppercase;
	}
	.kampprogram .type{
		display: block;
		font-size: 16px;
		font-weight: normal;
		padding-bottom: 5px;
	}
	.kampprogram .day{
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
	}
	.kampprogram .date{
		font-family: Montserrat !important;
		font-weight: bold;
		display: block;
		font-size: 24px;
		line-height: 35px;
	}
	.kampprogram .result{
		font-family: Montserrat !important;
		font-weight: bold;
		display: block;
		font-size: 30px;
		line-height: 40px;
	}
	.kampprogram .time{
		font-family: Montserrat !important;
		font-weight: bold;
		display: block;
		font-size: 24px;
		line-height: 35px;
	}
	.kampprogram .matchdate{
		vertical-align: middle;
	}

	@media screen and (max-width: 600px) {
		.kampprogram .name{
			font-size: 2.8vw;
		}
		.kampprogram .type{
			font-size: 3vw;

		}
		.kampprogram .day{
			font-size: 3vw;
		}
		.kampprogram .date{
			font-size: 4.5vw;
			line-height: 5.5vw;
		}

		.kampprogram .result{
			font-size: 6vw;
			line-height: 6.5vw;
		}
		.kampprogram .time{
			font-size: 4.5vw;
			line-height: 5.5vw;
		}
		.kampprogram .away{
			margin: 0 auto;
			text-align: center;

		}
		.kampprogram .home{
			margin: 0 auto;
			text-align: center;

		}
		.kampprogram .logo-container{
			margin: 0 auto;
			text-align: center;

		}
	}

	.youtube-image{
		display: block;
		position: relative;
		height: 55vw !important;
		overflow: hidden !important;
		vertical-align: middle;
	}
	.youtube-image .full-image{
		position: absolute;
		top: -10vw;
		vertical-align: middle;
	}

	hr{
		border-top: 1px solid #DBDBDB;
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
		width: 80%;
	}

	hr.menu-hr{
		border-top: 1px solid #4E6585 !important;
		border-bottom: 1px solid #8896A9;
		border-left: 0;
		border-right: 0;
		width: 80%;
	}

	.large_input_desc{
		padding: 25px;
		text-align: center;
		padding-bottom: 0;
	}

	.large_input_btn {
		padding: 25px;
		text-align: center;
		padding-top: 10px;
	}

	.large_input_btn .disabled{
		background: #CECECE !important;
		border-color: #B3B3B3;
	}

	.large_input{
		margin: 0 25px;
		margin-top: 10px;
	}

	.large_input input{
		border: 1px solid #CACACA;
		padding: 10px;
		border-radius: 10px;
		font-family: Montserrat;
		width: 100%;
		height: 100px;
		line-height: 80px;
		font-size: 62px;
		text-align: center;
		letter-spacing: 15px;

	}

	.large_input input:focus{
		border: 2px solid #8FA8D4 !important;
/*	box-shadow: 0px 0px 10px rgba(72, 128, 231, 0.5);
*/}

/* QUIZ */
.quiz{
	background: $background-grey;
}
.quiz.quiz-blue{

	background: rgb(222,239,255) !important; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ) !important; /* IE6-9 */
}
.quiz-blue .progress-container progress[value]{
   	border: 1px solid $quiz-blue-border !important;
}
.quiz-blue:before{
	opacity: 1;
	content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	padding: 0;

	z-index: -1;

}
.quiz-blue .item{
	border-radius: 0 !important;
}
.quiz-blue .sponsored_by_text{
	color: #525E70 !important;
	text-shadow: 1px 1px 1px #fff;
}
.quiz-blue .total-users{
	color: #525E70 !important;
	text-shadow: 1px 1px 1px #fff;
}
.quiz-blue .quiz_countdown_text{
	color: #525E70 !important;
	text-shadow: 1px 1px 1px #fff;
}
.quiz-blue .countdown-field-container{
	border-color: $quiz-blue-border;
}
/*.quiz-blue .stats .answer-details{
	border: none;
}
.quiz-blue .stats .answer-details .answer-container{

	border-bottom: none;
	border-top: 1px solid #DFDFDF;
}
.quiz-blue .item{
	border: 1px solid $quiz-blue-border;
}*/

.button.button-facebook{
	background-color: #5e76b4;
	border-color: #3d4d7e;
	color: #fff;
}

.login-sublink{
	display: block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: #939393;
}

.error{
	color: red;
}
.animate .ng-enter, .animate .ng-leave {
	-webkit-transition: 1s linear all;
	-moz-transition: 1s linear all;
	-ms-transition: 1s linear all;
	-o-transition: 1s linear all;
	transition: 1s linear all;
}
.animate .ng-leave {
	max-height: 900px;
	opacity:1;
}
.animate .ng-leave-active {
	max-height: 0;
	opacity:0;
}

.animate .ng-enter {
	max-height: 0px;
	opacity:0;
}
.animate .ng-enter-active {
	max-height: 900px;
	opacity:1;
}
.alert{
	margin: 10px;
	text-align: center;
}
.disabled{
	color: #3B3B3B !important;
	background: #fff !important;
}

.no-border {
	border: none;
}

.user {
	font-weight: bold;
}

.current-user {
	float: left;
	clear: both;
}

.not-current-user {
	float: right;
	clear: both;
}

.current-user .details {
	background-color: #72CBFF;
}

.not-current-user .details {
	background-color: #DCDCDC;
}

.male.active-gender .item-content{
	background: #d9edf7 !important;
	border: 1px solid #B9D3E0 !important;
}

.female.active-gender .item-content{
	background: #f2dede !important;
	border: 1px solid #DEC1C1;

}
.active-gender{
	border: none;
}


/* QUIZ DESIGN */

/* QUESTION */
.quiz .question .quiz_number{
}
.quiz .question .question_text{
	font-size: 18px;
	text-align: center;
	padding: 5vw;
	font-weight: bold;
	line-height: 24px;
}

/* QUIZ COUNTDOWN TIMER*/
.sponsored_by_text{
	font-size: 14px;
	color: #656565;
	text-transform: uppercase;
	margin: 25px;
	font-weight: bold;
	margin-bottom: 0;
}
.sponsor_ingame{
	text-align: center;
	width: 50%; 
	opacity: 0.75; 
	padding: 2vh;
}

.left{
	float: left;
}
.right{
	float: right;
}
.quiz_countdown_text{
	font-size: 18px;
	color: #808080;
	font-weight: bold;
	text-transform: uppercase;
	margin: 25px;
	margin-bottom: 10px;
}

.countdown-timer{
/*	font-size: 42px;
padding: 10px;*/
}
.timer_container{

}
/* timer */
.countdown .item{
	padding: 5px;
}
.timer .countdown-field{
	font-weight: bold;
	text-align: center;
	font-size: 38px;
	line-height: 38px;
	letter-spacing: 2px;
	font-family: Montserrat !important;

}
/*.timer .countdown-field i{
	margin-right: 10px;
}

.timer .countdown-field span{
	font-weight: bold;
	display: inline-block;
	width: 50px !important;
}*/

.progressbar-container{
	display: block; 
	height: 10px; 
	background: $progressbarBackground;
	margin: 0 1px;
}
.progressbar{
	height: 100%; 
	background: $progressbarFillColor; 
	min-width: 0px;
}
.answer{
	border-radius: 0 !important;
}
/* QUIZ ANSWERS */
.answer:active{
	background: none;
}
.answer.active-answer{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */	color: #fff;
	border: 1px solid #1B90D3;
}
.answer.active-answer.wrong-answer{
		border: 1px solid #B30808;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
	background: rgb(248,80,50); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
	color: #fff;
}
.answer-correct{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	border: 1px solid #6B9D62 !important;
	background: rgb(157,213,58); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

/* QUIZ STATS */
.stats{
}
.stats .stats-list{
	margin: 10px;
}
.stats .users-counter{
/*	margin: 25px;
	background: #fff;
*/	text-align: center;
/*	border: 1px solid #ddd;
*/}
.stats .users-counter .remaining-users{
	width: 150px;
	margin: 0 auto;
	line-height: 36px;
	font-size: 36px;
	border-bottom: 1px solid #B8B8B8;
	padding-bottom: 15px;
	font-weight: bold;
}
.stats .users-counter .total-users{
	padding-top: 5px;
	color: #6D6D6D;
	text-transform: uppercase;
}
.stats .users-counter .total-users .number {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

.stats .question-details{
}
.stats .question-details .question{
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

.stats .answer-details{
}
.stats .answer-details .answer-container{
	text-shadow: 1px 1px 1px rgba(255,255,255,0.75);
}
.stats .answer-details .answer-container .progress{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

}
.stats .answer-details .answer-container .progress.wrong:after{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
	background: rgb(248,80,50); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
	border: 1px solid #A71111;
}

.stats .answer-details .answer-container .progress.correct:after{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
	background: rgb(157,213,58); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	border: 1px solid #6B9D62;
}
.stats .answer-details .answer-container .progress:after{
	content: "";
	display: block;
	height: 100%;
	width: 100%;
    -webkit-animation-name: loadstats; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: loadstats;
    animation-duration: 2s;

}
/* Chrome, Safari, Opera */
@-webkit-keyframes loadstats {
    from {width: 0%;}
    to {width: 100%;}
}

/* Standard syntax */
@keyframes loadstats {
    from {width: 0%;}
    to {width: 100%;}
}
.stats .answer-details .answer-container .answer{
	position: relative;
	color: #000000;
	z-index: 2;
}
.stats .answer-details .answer-container .answer .pct{
	font-weight: bold;
}

/* QUIZ ANIMATIONS*/

/* slide */
.animate.slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.animate.slide.ng-enter,
.animate.slide.ng-leave {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.animate.slide.ng-enter {
	left: 100%;
}
.animate.slide.ng-enter-active {
	left: 0;
}
.animate.slide.ng-leave {
	left: 0;
}
.animate.slide.ng-leave-active {
	left: -100%;
}

.slide-down{
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
}

.slide-down.ng-leave {
	max-height: 50px;
}
.slide-down.ng-leave-active {
	max-height: 0px;
}
.slide-down.ng-enter {
	max-height: 0px;
}
.slide-down.ng-enter-active {
	max-height: 50px;
}

/*.animate.slidein, .animate.slideout {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.animate.slidein.ng-enter,
.animate.slideout.ng-leave {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.animate.slidein.ng-enter {
	left: 100%;
}
.animate.slidein.ng-enter-active {
	left: 0;
}
.animate.slideout.ng-leave {
	left: 0;
}
.animate.slideout.ng-leave-active {
	left: -100%;
}*/



/* Rotate */
.rotate {
	-webkit-animation-duration: 1s;
}
.ng-leave.rotate {
	-webkit-animation-name: rotate-leave;
}
.ng-enter.rotate {
	-webkit-animation-name: rotate-enter;
}
@-webkit-keyframes rotate-leave {
	0% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(0);
		opacity: 1;
	}
	100% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(-180deg);
		opacity: 0;
	}
}
@-webkit-keyframes rotate-enter {
	0% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(-180deg);
		opacity: 0;
	}
	100% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(-360deg);
		opacity: 1;
	}
}

.trophybox{
	z-index: 10;
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 5vw;
	text-align: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}
.trophybox.hasnoprize{
	padding: 0px !important;
}


/*.trophybox:after{
	content: "";
	position: absolute;
	top: 0;
	left: -10%;
	right: -10%;
	height: 100%;
	z-index: 1;
	box-shadow: inset 0 -5px 5px rgba(0,0,0,0.25) ;
}*/

.trophybox.hasprize{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
	padding: 20vw;
	padding-bottom: 0;
}

.trophybox.hasprize .background-animation{

	z-index: 1;
	position: absolute;
	background: url(../img/rays.png);
	background-position: 50% 50%;
	background-size: cover;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	animation: rotating 20s linear infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);;
    -webkit-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.trophybox .trophy{
	max-height: 150px;
	max-width: 150px;
	position: relative;
	z-index: 2;

}

.trophybox.hasprize .trophy{
	max-height: 100%;
	max-width: 100%;
	position: relative;
	z-index: 2;
	width: 100%;
}

.trophybox.hasnoprize .trophy{
	max-height: none !important;
	max-width: 100% !important;
}

.trophybox .ribbon{
	height: 10vw;
	line-height: 10vw;
	padding-bottom: 1vw;
	position: absolute;
	z-index: 3;
	top: 73%;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 6vw;
	color: #FFFFFF;
	font-family: Montserrat;
	text-shadow:  1px 1px 2px rgba(0,0,0,0.5);
}

.quiz_status .status_header{

}
.quiz_status .status_header:before{
	content: "";
	position: absolute;
	width: 100%;
	background: red;
}

/*.quiz_status .status_header.male{
	background: #d9edf7 ;
}
.quiz_status .status_header.male h3{
	color: #508C8C;
}

.quiz_status .status_header.female{
	background: #f2dede ;
}
.quiz_status .status_header.female h3{
	color: #8C7650;
}*/

.quiz_status .answer-status{
	margin: 0;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	border-left: none !important;	
	border-right: none !important;
}

.quiz_status.loser .answer-status{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
	border: 1px solid #A52A2A;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);

}
.quiz_status.winner .answer-status{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */	

border: 1px solid #86B72F;
text-shadow: 1px 1px 1px rgba(0,0,0,0.25);

}

.quiz_status .rank .status-text{
	margin-top: 10px;
	color: #808080;
}
.quiz_status .rank .myrank{
	margin: 0 auto;
	font-size: 36px;
	padding-bottom: 10px;
	line-height: 36px;
	width: 100px;
	border-bottom: 1px solid #C5C5C5;
}

.quiz_status .rank .totalUsers{
line-height: 30px;
}


img.avatar{
	min-width: 150px;
	max-width: 200px;
	max-height: 200px;
	border: 3px solid #fff;
	border-radius: 50%;
	background: #fff;

}

/* NO WINNER*/
.no-winner-modal{
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
.no-winner-splash{
	position: absolute;
	top: 45vh;
	width: 100%;
	text-align: center;
}
.no-winner-title{
	text-transform: uppercase;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.75);
	color: #fff;
	font-weight: bold;
	line-height: 7vw;
	font-size: 7vw;
	margin-bottom: 3vw;
}
.no-winner-text{
	text-shadow: 3px 3px 5px rgba(0,0,0,0.75);
	color: #fff;
	line-height: 5vw;
	font-size: 5vw;
}

@media screen and (min-width: 680px) {
	.no-winner-splash{
		top: 25vh;
	}
	.no-winner-title{
		line-height: 4vw;
		font-size: 4vw;
	}
	.no-winner-text{
		line-height: 3vw;
		font-size: 3vw;
	}
}

.close-modal-btn{
	float: right !important;
	font-size: 32px !important;
	padding: 10px;
}

/* Quiz late answer*/
.late-answer{
	background: $assertive;
}
.late-answer .header{
	display: block;
	width: 100%;
	text-align: center;
}

.late-answer i.alert-icon{
	display: inline-block;
	color: #fff;
	line-height: 150px;
	height: 150px !important;
	width: 150px !important;
	font-size: 150px !important;
	border-radius: 50% !important;
	border: 2px solid #fff !important;
	text-align: center;
}

/* Quiz final answer */
.quiz_input{
	padding: 5px;
	border: 3px solid #39B7D2 !important;
}
.quiz_input .answerinput{
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 0 !important;
	height: 30px;
	text-align: center;
	width: 100%;

}

.quiz_input .answerinput.disabled{
	color: #9A9A9A !important;
}

.quiz_input .answerinput.disabled .blinking{
opacity: 0;
}
.quiz_input .answerinput .blinking{
	color: #1C7183;
	font-family: times;
	font-size: 20px;
	animation: blinking 1s linear infinite;
}


@keyframes blinking {  
  0% { opacity: 1; }
  74% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
}
/*.quiz_input input::after{
	z-index: 1000;
	content: "tser";
	position: absolute;
	height: 10px;
	width: 10px;
	background: red;
	left: 0;
	top: 0;
	
}

.quiz_input input::placeholder, .quiz_input input::-webkit-input-placeholder, .quiz_input input::-webkit-input-placeholder{
	font-family: Raleway;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: normal;
}*/

/* final stats*/

.stats .medal.icon{
	/*text-shadow: 0px 0px 10px rgba(0,0,0,0.25);*/

}
.medal.icon.place-0{
	color: #d2a33f !important;
}
.medal.icon.place-1{
	color: #7f8386 !important;
}
.medal.icon.place-2{
	color: #c16d3f !important;
}
.top3-answer{
	display: block;
	font-size: 12px;
	font-weight: bold;
}
.me{
	font-weight: bold;
	font-size: 20px;
}

/* Prize-list */
.prizes{

	background: $background-grey;
}

.prizes .no-prize{
	color: #808080;
    font-size: 16px;
    padding-top: 20px;
}
/* Show prize */
.prize{
		background: $background-grey;
}
.prize_img{
	text-align: center;
	padding: 25px;
}
.prize_img img{
	max-width: 100%;
	max-height: 250px;
	border: 3px solid #fff;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
}

.expiration{
	padding: 0 15px;
	margin-bottom: 25px;
	text-align: center;
	color: #A2A2A2;
}
.expiration strong{
	color: #868686;
}

.disclamer{
	color: #A2A2A2;
}

.dragger{
	position: absolute;
	background: red;
	height: 40px;
	top: 5px;
	right: 5px;
}
.release_prize{
	width: 100%;
	margin: 0;
	padding: 0;
}

.release_list{
	border: none;
	width: 100%;
}
.release_list .list{
	padding: 0;
}

.prize_footer{
	border: none;
	margin: 0;
	padding: 0;
	height: 55px;
}
.prize.has-footer{
	bottom: 55px;
}

.popup-head{
	background: $positive;
}
.popup-head .popup-title{
	color: #fff !important;
}

.terms{
	padding: 15px;
}

.padding-top{
padding-top: 10px;
}
.sublink-a{
	display: block;
	padding-top: 10px;
	color: #000;
	font-size: 16px;
}

/* KEYBOARD */
.keyboard{ 
	padding: 0;
	margin: 0;

}
.keyboard-row{
	position: relative;
	display: block;
	background: red;
}
.keyboard-btn{
	width: 33%;
	display: inline-block;
	position: relative;
}

.int-timer .countdown-field{
	font-size: 30px;
}
.int-timer .item{
	padding: 0;
}
.int-timer .progressbar-container{
	height: 5px;
}


.loadingContent {
	padding: 20px;
	color: #626262;
	display: block;
	text-align: center;
	margin-bottom: 10px;
	font-size: 18px;
}

.loadingContent span {
	font-family: 'Times New Roman';
  font-size: 40px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loadingContent span:nth-child(2) {
  animation-delay: .2s;
}

.loadingContent span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.news-image-container{
	height: 55vw;
	line-height: 55vw;
	width: 100vw;
	overflow: hidden;
	text-align: center;
}
.news-image-container img{
	margin: -100%;
}

.widget{
	display: block;
	-webkit-box-shadow: 0 10px 7px -6px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 10px 7px -6px rgba(0,0,0,0.5);
	        box-shadow: 0 10px 7px -6px rgba(0,0,0,0.5);
	border-bottom: 1px solid #3C3851;
}

.liganame{
	font-size: 3.5vw;
}


.progress-container{
	margin: 0 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	border-radius: 3px; 
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */


}
.progress-container progress[value]{

	padding: 5px; 
	height: 30px;
	-webkit-appearance: none;
   	appearance: none;
   	border-radius: 3px;
   	border: 1px solid #C9C9C9;
}
.progress-container progress[value]::-webkit-progress-bar {
	background-color: transparent;
	border-radius: 3px; 
}
.progress-container progress[value]::-webkit-progress-value {
    border-radius: 3px; 
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}
.progress-container progress[value].warning::-webkit-progress-value {
	background: #ffb76b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
}
.progress-container progress[value].danger::-webkit-progress-value {
	background: #f85032; /* Old browsers */
	background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

.custom-keyboard-container{
	display: block;
	margin: 10px;
}
.custom-keyboard-container .custom-keyboard{
	margin: 0 auto;
	display: table;
	border-spacing: 0px;
	width: 100%;
	max-width: 500px;
	padding: 0;
}
.custom-keyboard-container .custom-keyboard .k-row{
	display: table-row;
}
.custom-keyboard-container .custom-keyboard .k-row .key{
	text-shadow: 1px 1px 1px #E1E1E1;

	border-left: 1px solid #CDCDCD;
	border-top: 1px solid #CDCDCD;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	min-width: 33%;
	width: 33%;
	padding: 10px;
	color: #3B3B3B;

	background: #ffffff; 
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
.custom-keyboard-container .custom-keyboard .k-row:first-child .key{
	border-top: 0;
}
.custom-keyboard-container .custom-keyboard .k-row .key:first-child{
	border-left: 0;
}
.custom-keyboard-container .custom-keyboard .k-row .key:active{
	box-shadow: inset 0px 0px 7px rgba(0,0,0,0.25);
	font-weight: bold;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,e2e2e2+50,d8d8d8+51,cecece+100 */
	background: rgb(221,221,221); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(226,226,226,1) 50%, rgba(216,216,216,1) 51%, rgba(206,206,206,1) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(226,226,226,1) 50%,rgba(216,216,216,1) 51%,rgba(206,206,206,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(226,226,226,1) 50%,rgba(216,216,216,1) 51%,rgba(206,206,206,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#cecece',GradientType=0 ) !important; /* IE6-9 */
}


.custom-keyboard-container .custom-keyboard .k-row .key.option-key{
	font-size: 14px;
	color: #000;
	text-shadow: 1px 1px 1px #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e0e0+0,dbdbdb+50,cecece+51,dddddd+100 */
	background: rgb(224,224,224); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(219,219,219,1) 50%, rgba(206,206,206,1) 51%, rgba(221,221,221,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(219,219,219,1) 50%,rgba(206,206,206,1) 51%,rgba(221,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(224,224,224,1) 0%,rgba(219,219,219,1) 50%,rgba(206,206,206,1) 51%,rgba(221,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.custom-keyboard-container .custom-keyboard .k-row .key.option-key.green{
	background: rgb(157,213,58);
	background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 1px #579916;

}


.custom-keyboard-container .custom-keyboard .k-row .key.option-key.red{
	color: #A50000;
	text-shadow: 1px 1px 1px #FFFFFF;

}

input[readonly]{
	background-color: #fff !important;
}
/* keyboard green */
.custom-keyboard-container.green .custom-keyboard{
	border-bottom: 1px solid #fff;	
	border-right: 1px solid #fff;
}

.custom-keyboard-container.green .custom-keyboard .k-row .key{
	text-shadow: 1px 1px 1px #426618;

	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #fff;
	font-size: 24px;
	color: #fff;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
	background: rgb(157,213,58); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

.custom-keyboard-container.green .custom-keyboard .k-row .key:active{
	box-shadow: inset 0px 0px 15px rgba(0,0,0,0.5);
}


.custom-keyboard-container.green .custom-keyboard .k-row .key.option-key{
	font-size: 14px;
	color: #000;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 1px #FFFFFF;
}
.player-image{
	min-height: 20vw !important;
	padding-left: 27vw;
	overflow: hidden;
}
.player-image.item-icon-right .icon{
	font-size: 20px !important;
}
.player-image img{
	position: absolute;
	max-height: 25vw;
	max-width: 25vw;
	left: 0vw;
	top: 5vw;
}
.player-image .greyed{
	color: #D7D7D7;
}
.player-image h2{
	line-height: 5.5vw;
	font-size: 4.5vw;
	font-family: "Montserrat" !important;
	font-weight: bold;
}
.player-image h2 .player-number{
	color: $positive;
}
.player-image p{
	padding-top: 1vw;
	line-height: 4vw;
	font-size: 4vw;
	
}
.event{
	margin-bottom: 10px;
}

.bar-footer-shadow{
	box-shadow: 0 -2px 2px rgba(0,0,0,0.10);
}

.grey-text{
	color: #808080;
    font-size: 16px;
    padding-top: 20px;
}

.vote{
	padding: 10vw;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 5vw;
}
.vote .icon{
	line-height: 25vw;
	font-size: 20vw;
}

.ui-carousel{
	margin-bottom: 0 !important;
}

/* MY PROFILE */
.my-profile{
	padding-top: 15px;
	position: relative;
	height: 250px;
	overflow: hidden;
	margin-bottom: 25px;
	background-position: bottom center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	/*box-shadow: 0px 5px 5px rgba(0,0,0,0.25);*/
}

.my-profile .profile{
	position: relative;
	z-index: 2;
	text-align: center;
}

.my-profile .profile h2{
	font-size: 18px;
	font-weight: bold;
	color: #fff;	    
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-profile .profile img{

	height: 150px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
}
.my-profile .profile p{
	color: #fff;
}
/*.my-profile .bg.no-facebook-user{
	background-size: cover !important;
	opacity: 1 !important;
	-webkit-filter: blur(0px) !important;
	-moz-filter: blur(0px) !important;
	-o-filter: blur(0px) !important;
	-ms-filter: blur(0px) !important;
	filter: blur(0px) !important;
}*/
.push-notification {
  position: absolute;
  right: 0;
  left: 0;
  top: 50px;
  z-index: 10000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b0d4e3+0,88bacf+100;Grey+3D+%233 */
  background: #b0d4e3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b0d4e3 0%, #88bacf 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 );
  /* IE6-9 */ 
  }

.platform-ios .push-notification{
	top: 75px;	
}
.push-notification div {
  margin-right: 25px; }

.push-notification span {
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 7px; 
}


.animated.bounceInOut.ng-enter {
  -webkit-animation: bounceIn 1s;
  -moz-animation: bounceIn 1s;
  -ms-animation: bounceIn 1s;
  animation: bounceIn 1s; }

.animated.bounceInOut.ng-leave {
  -webkit-animation: zoomOut 1s;
  -moz-animation: zoomOut 1s;
  -ms-animation: zoomOut 1s;
  animation: zoomOut 1s; }
