<ion-modal-view scroll>
  <ion-header-bar class="bar-positive" >
    <h1 class="title">Betingelser</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios-close-empty"></i></button>
    </div>
  </ion-header-bar>
  <ion-content class="terms">
  	<span ng-bind-html="terms"></span>
  </ion-content>
</ion-modal-view>
