<ion-view cache-view="false">
	<ion-nav-title>Glem password</ion-nav-title>


	<ion-content class="quiz"  ng-class="{'has-subheader' : !networkState}">
	<flash-message class="animate"></flash-message> 
		
		<div class="center padding" >
			Indtast din email-adresse - Så sender vi dig en aktiveringskode du skal indtaste i appen og nulstille dit password. 
		</div>
		<div class="list list-inset">

			<label class="item item-input">
				<i class="icon ion-email placeholder-icon"></i>
				<input type="text" ng-model="email" placeholder="E-mail">
			</label>
		</div>
		<div class="padding" style="padding-top: 0px;">
			<button class="button button-block button-balanced" ng-click='resetPassword(email)'>
				Send aktiveringskode
			</button>
		</div>
		<a href="#/app/fanzone/reset-password" class="login-sublink">Jeg har modtaget min kode</a>

	</ion-content>

</ion-view>