<ion-view cache-view="false">
<ion-nav-title>Din bruger</ion-nav-title>


<ion-content class="quiz">


<div class="my-profile" >
	<div class="profile">
		<h2>{{user.name}}</h2>
		<img class="avatar" ng-src="{{user.picture}}">
		<p>{{user.email}}</p>
	</div>
</div>


<flash-message class="animate"></flash-message> 

<div class="list">
	<ion-item class="item-divider">
		Notifikationer
	</ion-item>
	<ion-toggle ng-repeat="item in notificationTypes" ng-model="item.checked" ng-checked="item.checked" class="item-small item-grey item-toggle" ng-change="changeNotification(item)">
	{{item.text}}
	</ion-toggle>
<!-- 		<div class="list list-inset" style="margin-bottom: 0;">
			<label class="item item-input">
				<i class="icon ion-person placeholder-icon"></i>
				<input ng-disabled="true" class="disabled" type="text" ng-model="user.name" placeholder="Navn">
			</label>

			<label class="item item-input">
				<i class="icon ion-email placeholder-icon"></i>
				<input ng-disabled="true" class="disabled" type="text" ng-model="user.email" placeholder="E-mail">
			</label>
		</div> -->

<!-- 		<div class="row" style="margin-top: 0;">
			<div class="col">
				<ion-radio ng-model="user.gender" class="male" ng-class="{'active-gender' : user.gender == 'male'}" ng-click="updateUser(user)" ng-value="'male'"><i class="icon ion-man" ></i> Mand</ion-checkbox>
			</div>
			<div class="col">
				<ion-radio ng-model="user.gender" class="female" ng-class="{'active-gender' : user.gender == 'female'}" ng-click="updateUser(user)" ng-value="'female'"><i class="icon ion-woman"></i> Kvinde</ion-checkbox>
			</div>
		</div> -->
		<!-- <hr/> -->


<!-- 		<div class="list list-inset">
			<label class="item item-divider ">
				Skift adgangskode
			</label>
			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" ng-model="user.password" placeholder="Ny adgangskode">
			</label>
			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" ng-model="user.newpassword" placeholder="Gentag adgangskode">
			</label>
			<ion-item class="center item-divider item-balanced" ng-click="checkVersion()">
				Opdater mit password
			</ion-item>
		</div> -->




		<div ng-show="errorShow" class="center error">
			{{errorText}}
		</div>
	</div>
	<div class="list">
		<ion-item class="item-icon-left item-small item-grey" ng-click="logout()">
		<i class="icon assertive ion-log-out"></i>
		<span class="assertive">Log ud</span>
	</ion-item>
</div>

</ion-content>

</ion-view>