<ion-view cache-view="false">
	<ion-nav-title>Nulstil password</ion-nav-title>


	<ion-content class="quiz"  ng-class="{'has-subheader' : !networkState}">
		<flash-message class="animate"></flash-message> 

		<div class="center padding" >
			Vælg et nyt password
		</div>

		<div class="list list-inset" style="margin-top: 0;">
			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" ng-model="pwObj.password" placeholder="Adgangskode">
			</label>

			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" ng-model="pwObj.repassword" placeholder="Gentag adgangskode">
			</label>
		</div>

		<div class="padding" style="padding-top: 0px;">
			<button class="button button-block button-balanced" ng-click="saveNewPassword(pwObj);">
				Gem password
			</button>
		</div>

	</ion-content>

</ion-view>