<ion-view cache-view="false">
	<ion-nav-title>Aktiveringskode</ion-nav-title>


	<ion-content class="quiz"  ng-class="{'has-subheader' : !networkState}">
	<flash-message class="animate"></flash-message> 
		
		<div class="center padding" >
			Indtast aktiveringskoden vi har sendt til din e-mail. 
		</div>
		<div class="list list-inset">

			<label class="item item-input">
				<i class="icon ion-ios-keypad placeholder-icon"></i>
				<input type="number" ng-model="code" placeholder="Aktiveringskode">
			</label>
		</div>
		<div class="padding" style="padding-top: 0px;">
			<button class="button button-block button-balanced" ng-click='enterActivationCode(code)'>
				Anvend aktiveringskode
			</button>
		</div>

	</ion-content>

</ion-view>