<ion-view cache-view="false">
	<ion-nav-title>Log ind</ion-nav-title>


	<ion-content class="quiz"  ng-class="{'has-subheader' : !networkState}">
	<flash-message class="animate"></flash-message> 

		<div class="center padding" >
			Login for at deltage.
		</div>

		<div class="list list-inset" style="margin-top: 0;">
			<label class="item item-input">
				<i class="icon ion-person placeholder-icon"></i>
				<input type="text" ng-model="user.email" placeholder="E-mail">
			</label>

			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" ng-model="user.password" placeholder="Adgangskode">
			</label>
		</div>

		<div class="padding" style="padding-top: 0px;">

			<button class="button button-block button-balanced" ng-click='doLogin(user)'>
				Log ind
			</button>
		</div>

		<a href="#/app/fanzone/forgot-password" class="login-sublink">Glemt adgangskode</a>

	</ion-content>

</ion-view>