<ion-view cache-view="false">
	<ion-nav-title>Opret Bruger</ion-nav-title>


	<ion-content class="quiz"  ng-class="{'has-subheader' : !networkState}">
		<flash-message class="animate"></flash-message> 

		<div class="center padding" >
			Opret dit login og deltag i quizzen
		</div>
		<div class="list list-inset" style="margin-top: 0; margin-bottom: 0;">
			<label class="item item-input">
				<i class="icon ion-person placeholder-icon"></i>
				<input type="text" ng-model="user.name" placeholder="Navn">
			</label>

			<label class="item item-input">
				<i class="icon ion-email placeholder-icon"></i>
				<input type="text" ng-model="user.email" placeholder="E-mail">
			</label>
		</div>
		<div class="row" style="margin-top: 0;">
			<div class="col">
				<ion-radio ng-model="user.gender" class="male" ng-class="{'active-gender' : user.gender == 'male'}" ng-value="'male'"><i class="icon ion-man" ></i> Mand</ion-checkbox>
			</div>
			<div class="col">
				<ion-radio ng-model="user.gender" class="female" ng-class="{'active-gender' : user.gender == 'female'}" ng-value="'female'"><i class="icon ion-woman"></i> Kvinde</ion-checkbox>
			</div>
		</div>
		<div class="list list-inset" style="margin-top: 0;">
			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" ng-model="user.password" placeholder="Adgangskode">
			</label>

			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" ng-model="user.repassword" placeholder="Gentag adgangskode">
			</label>
		</div>

		<div class="list list-inset" style="margin-top: 0;">

			<ion-item class="item item-icon-right" ng-click="showTerms()">
				Læs betingelser
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>

			<div class="item item-toggle">
				Accepter betingelser
				<label class="toggle toggle-balanced">
					<input type="checkbox" ng-model="user.acceptTerms">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>


		</div>



		<div class="padding" style="padding-top: 0px;">
			<button class="button button-block button-balanced" ng-click="submitUser(user);">
				Opret bruger
			</button>
		</div>

		<div ng-show="errorShow" class="center error">
			{{errorText}}
		</div>

	</ion-content>

</ion-view>