<ion-view cache-view="false">
	<ion-nav-title>Log ind</ion-nav-title>


	<ion-content class="quiz"  ng-class="{'has-subheader' : !networkState}">
	<flash-message class="animate"></flash-message> 

		<div class="center padding" >
			For at få adgang til fanzonen skal du være logget ind.
		</div>

		<div class="padding" style="padding-top: 0px;">
			<button ng-click="doFBLogin()" class="button button-block button-facebook icon-left ion-social-facebook">
				Log ind med Facebook
			</button>
			<div class="center">
				eller
			</div>

			<div class="padding-top">
				<div class="button-bar">
				  <a href="#/app/fanzone/user-do-login" class="button">Log ind</a>
				  <a href="#/app/fanzone/user-create" class="button">Opret bruger</a>
				</div>
			</div>
			<div class="padding-top">
				<a href="#" ng-click="showTerms()" class="login-sublink">Ved brug af fanzonen acceptere du samtidig vores betingelser.<br/> <span class="sublink-a "> Læs vores betingelser her</span></a>

			</div>


		</div>



	</ion-content>

</ion-view>