<ion-view cache-view="false" can-swipe-back="false">
	<ion-nav-title>Præmieskab</ion-nav-title>

	<ion-content class="prizes">

	<!-- loading text -->
	<ion-list ng-if="isLoadingContent" class="borderless text-center padding" >
<ion-spinner icon="ios"></ion-spinner>

<!-- 	<span class="loadingContent">Vi henter indhold til dig<span>.</span><span>.</span><span>.</span></span>
 -->	</ion-list>

		<flash-message class="animate"></flash-message> 
		<div ng-repeat="prize in prizes" class="list list-inset">

		    <a class="item item-avatar item-text-wrap" href="#/app/fanzone/prize/{{$index}}">
		      <img ng-src="{{ prize.image }}">
		      <h2>{{ prize.title }}</h2>
		      <p>{{ prize.description }}</p>
		    </a>

		</div>
		<div ng-show="!prizes.length && currentUser" class="no-prize text-center padding">
			Du har desværre ingen præmier
		</div>
	</ion-content>
</ion-view>