<ion-view cache-view="false" can-swipe-back="false">
	<ion-nav-title>Præmieskab</ion-nav-title>

	<ion-content class="prize has-footer"  ng-class="{'has-subheader' : !networkState}">
	
	<div class="prize_img">
		<img ng-src="{{prize.image}}" />
	</div>

	<div class="list list-inset">
		<ion-item class="titel text-center item-divider">
			{{prize.title}}
		</ion-item>
		<ion-item class="prize_img item-text-wrap">
			{{prize.description}}
		</ion-item>
	</div>
	<div class="expiration">
		Gyldig til og med:<br/><strong>{{prize.expiration_date}}</strong>
	</div>


	<div class="list list-inset" style="margin-bottom: 25px;">
		<ion-item class="titel text-center item-divider">
			Bemærk
		</ion-item>
		<ion-item class="prize_img item-text-wrap">
		<div class="disclamer">
			Funktionen "Swipe for at udlevere" i bunden af skærmen, må kun benyttes af personalet der udlevere din præmie. 
			<br/>
			Benytter du selv funktionen "Swipe for at udlevere" vil din præmie ikke længere være gyldig!
		</div>
		</ion-item>
	</div>




	</ion-content>
	<ion-footer-bar class="prize_footer">
	<ion-list class="release_list">
	  <ion-item class="release_prize text-center item-icon-left item-icon-right">
	  <i class="icon ion-ios-arrow-left"></i>
	    Swipe for at udlevere!
	  <i class="icon ion-ios-arrow-left"></i>

	    <ion-option-button ng-click="releasePrize()" class="button-balanced">Udlever præmien!</ion-option-button>
	  </ion-item>
	</ion-list>
	</ion-footer-bar>
</ion-view>