<div class="padding text-center">
	<h4>
		<strong>Indsend dine svar!</strong><br/>
	</h4>
	<p>
		Du har svaret på alle vores spørgsmål!<br/><br/>
		Når du indsender dine svar er du færdig for nu, og du deltager automatisk i lodtrækningen om præmier.<br/>
	</p>
</div>


<div class="padding">
	<div ng-if="activeSurveyIndex != 0">
		<ion-item class="item-icon-left" ng-click="goBack()">
			<i class="icon ion-ios-arrow-left"></i>
			Tilbage til forrige svar
		</ion-item>
	</div>

	<ion-button class="button button-block button-balanced item-icon-right" ng-click="submitSurvey()">
		Indsend dine svar
		<i class="icon ion-ios-arrow-right"></i>
	</ion-button>
</div>


<div  class="list" ng-show="activeSurvey.sponsor.image">
	<div class="list-item text-center">
		<img ng-src="{{activeSurvey.sponsor.image}}" class="padding" style="height: auto; width: auto; max-width: 80vw; max-height: 20vw; "/>
	</div>
</div>
