<div class="card question" >
	<div class="item item-divider">
		Spørgsmål {{activeSurveyIndex+1}} af {{activeSurvey.questions.length}}: 
	</div>
	<div class="item item-text-wrap item-text-wrap question_text">
		{{activeSurvey.questions[activeSurveyIndex].question}}
	</div>
</div>


<div class="list card" style="margin-bottom: 0">
	<div class="item item-divider">
		Vælg dit svar
	</div>
	<ion-item 
	ng-repeat="answer in activeSurvey.questions[activeSurveyIndex].answers" 
	class="item-text-wrap answer item-icon-left" 
	ng-class="{'active-answer' : activeSurveyAnswers[activeSurveyIndex].answer_id == answer.id}" 
	ng-click="submitSurveyAnswer(answer, activeSurvey.questions[activeSurveyIndex].id)">
	<i class="icon ion-android-arrow-dropright"></i>

	{{answer.answer}}

	</ion-item>
</div>

	<div class="list list-inset" ng-if="activeSurveyIndex != 0">
		<ion-item class="item-icon-left" ng-click="goBack()">
			<i class="icon ion-ios-arrow-left"></i>
			Tilbage til forrige svar
		</ion-item>
	</div>

<div  class="list" ng-show="activeSurvey.sponsor.image">
	<div class="list-item text-center">
		<img ng-src="{{activeSurvey.sponsor.image}}" class="padding" style="height: auto; width: auto; max-width: 80vw; max-height: 20vw; "/>
	</div>
</div>
