<ion-view cache-view="false" can-swipe-back="false">
<ion-nav-title>Survey</ion-nav-title>

	<ion-content class="grey" has-bouncing="false" >
		<div ng-class="[animation.direction, {'animate' : animate}]" ui-view></div>
	</ion-content>
</ion-view>