<ion-view cache-view="false" can-swipe-back="false">
	<ion-nav-title>Svar og vind</ion-nav-title>


	<ion-content class="grey" ng-class="{'has-subheader' : !networkState}">

	<ion-refresher on-refresh="doRefresh()"></ion-refresher>

	<!-- loading text -->
	<ion-list ng-if="isLoadingContent" class="borderless text-center padding" >
	<ion-spinner icon="ios"></ion-spinner>
	<span class="loadingContent">Vi henter indhold til dig<span>.</span><span>.</span><span>.</span></span>
	</ion-list>

	<div class=" text-center padding grey-text" ng-if="(!surveys || !surveys.length) && !isLoadingContent">
		Der er i øjeblikket ingen aktive surveys.
	</div>

	<div class="list card" style="margin-bottom: 10px; padding: 0;"
	ng-repeat="survey in surveys">

		<div class="item item-header item-text-wrap" style="height: auto;">
			{{survey.title}}
			<!-- <p>Nine Inch Nails</p> -->
		</div>

		<div class="item item-image" ng-if="survey.sponsor.image">
			<img style="max-height: 30vw; max-width: 80vw; width: auto; height: auto;  padding: 5vw 0;" ng-src="{{survey.sponsor.image}}" />
		</div>

		<div ng-if="survey.description">
				<div class="list">
				<div class="item item-divider">Beskrivelse</div>
				<div class="item item-text-wrap">
					<p ng-bind-html="survey.description"></p>
				</div>
				</div>
		</div>		

		<div ng-if="survey.prizes.length">
				<div class="list">
				<div class="item item-divider">Præmier</div>
					<div class="item item-avatar" ng-repeat="prize in survey.prizes | orderBy: 'pivot.range_start'">

						<img ng-src="{{prize.image}}" />
						<h2>{{prize.title}}</h2>

						<p ng-if="!prize.pivot.range_end">1 stk.</p>
						<p ng-if="prize.pivot.range_end">{{(prize.pivot.range_end - prize.pivot.range_start)+1}} stk.</p>

					</div>

				</div>
		</div>		

		<button ng-if="!checkIfSubmitted(survey.id)" class="button button-full item-icon-right text-center button-balanced" style="margin: 0;" ng-click="goToSurvey(survey)">
			<strong>Deltag</strong>
			<i class="icon ion-ios-arrow-right"></i>
		</button>

		<ion-item ng-if="checkIfSubmitted(survey.id)" class="text-center" style="margin: 0;">
			<i class="icon ion-checkmark-circled balanced"></i>
			<strong>Udfyldt</strong>
		</ion-item>
	</div>


<!-- 		<ion-card 
		class="card text-center item-icon-right item-text-wrap" 
		ng-click="setVote(player.id, player)">

			<h2><span class="survey-number">{{survey.title}}</span> {{player.name}}</h2>

		</ion-card>

	</div>

<!-- 	<div class="surveys" ng-if="surveys && surveys.id != lastSubmittedSurveyId">
test
	</div>
 -->

	</ion-content>
</ion-view>