<div class="progress-container" >
	<progress class="{{color}}" value="{{pct}}" max="100" ></progress>
</div>

<!-- 		<div class="c100 p{{pct}}" style="float: inherit; margin: 0 auto;">
			<span ng-class="{'flashing' : shouldFlash}">
				{{countdown}}
			</span>
			<div class="slice">
				<div class="barr"></div>
				<div class="fill"></div>
			</div>
		</div> -->