<ion-modal-view >
  <ion-content style="background: url({{activeQuiz.quiz_no_winner_image}})" class="no-winner-modal padding">
  <a href="#" class="close-modal-btn" ng-click="closeModal()">
    <i class="icon ion-close-circled stable"></i>
  </a>
  <div class="no-winner-splash">
	  <div class="no-winner-title" ng-if="activeQuiz.quiz_no_winner_title">
	  	{{activeQuiz.quiz_no_winner_title}}
	  </div>
	  <div class="no-winner-text" ng-if="activeQuiz.quiz_no_winner_text">
	  	{{activeQuiz.quiz_no_winner_text}}
	  </div>
	</div>
  </ion-content>
</ion-modal-view>
