<div class="card">
	<div ng-show="!currentAnswer" class="item item-text-wrap text-center item-energized">
	Du nåede ikke at svare!
	</div>
	<div ng-show="currentAnswer.is_right_choice == 0" class="item item-text-wrap text-center item-assertive">
	Dit svar var forkert!
	</div>

	<div ng-show="currentAnswer.is_right_choice == 1" class="item item-text-wrap text-center item-balanced">
	Dit svar var korrekt!
	</div>
</div>



