<ion-view cache-view="false" can-swipe-back="false">
	<ion-nav-title>Quizzen</ion-nav-title>


 	<ion-content class="quiz" has-bouncing="false" >

 		<flash-message class="animate"></flash-message> 
		

		<div class="large_input_desc">Skriv koden der vises på storskærmen:</div>
		<div class="large_input" >	
			<input id="quiz_code" ng-change="checkCode(quiz_code)" ng-model="quiz_code" maxlength="5" type="tel">
		</div>
		<div class="large_input_btn">
			<button ng-class="{'disabled' : submitDisabled}" class="button button-block button-large button-balanced" ng-click="getQuiz(quiz_code)">
  				OK
			</button>
		</div>

	</ion-content>
</ion-view>