<div class="stats">
	<div class="users-counter padding">
<!-- 		<div class="remaining-users">
			{{stats.activeUsersCount}} 
		</div> -->
		<div class="total-users">
			<span class="number">{{stats.activeUsersCount}}</span>
			af <span class="number">{{stats.totalUsersCount}}</span> deltagere tilbage
		</div>
	</div>

	<div class="list card stats-list question-details" style="margin-top: 0;">
<!-- 		<div class="item item-divider text-center">Spørgsmål</div>
 -->		<div class="item">
			<div class="question item-text-wrap text-center">
				{{stats.quizdata.question}}
			</div>

		</div>
	</div>

	<div class="list card stats-list answer-details" style="margin-bottom: 0;">
		<div class="item item-text-wrap item-divider text-center">Svarfordeling</div>

		<div ng-if="stats.quizdata.question_type != 1" ng-repeat="answer in stats.quizdata.answers" class="item answer-container text-center">
			<div class="progress" ng-class="answer.is_right_choice == 1 ? 'correct' : 'wrong'" style="width: {{ (answer.picked / stats.quizdata.answersCount)*100 }}%">
			</div>
			<div class="answer">
				{{answer.answer}} - <span class="pct">{{ stats.quizdata.answersCount ? (answer.picked / stats.quizdata.answersCount)*100 : 0 | number: 0}}%</span>
			</div>
		</div>
		<div ng-if="stats.quizdata.question_type == 1" class="item item-text-wrap text-center">
			{{stats.quizdata.int_answer}}
		</div>

	</div>
	<div  class="list sponsor_ingame left" ng-show="quiz.quiz_sponsor1_image">
		<div class="list-item">
			<img ng-src="{{quiz.quiz_sponsor1_image}}" class="full-image padding"/>
		</div>
	</div>
	<div class="list sponsor_ingame right" ng-show="quiz.quiz_sponsor2_image">
		<div class="list-item">
			<img ng-src="{{quiz.quiz_sponsor2_image}}" class="full-image padding"/>
		</div>
	</div>
</div>

