<ion-view cache-view="false" can-swipe-back="false">
	<ion-nav-title>Quizzen</ion-nav-title>


	<ion-content class="quiz" >
	<div 
	class="trophybox" 
	style="-webkit-backface-visibility: hidden;" 
	ng-class="myRank.rank <= 3 || myRank.prize ? 'hasprize' : 'hasnoprize'">

		<img 
		style="-webkit-transform: translate3d(0px, 0px, 0px);" 
		class="trophy" 
		ng-class="myRank.rank > 3 && !myRank.prize ? 'fullimage' : ''"
		ng-src="{{myRank.rank <= 3 ? 'img/trophy'+myRank.rank+'.svg' : (myRank.prize ? 'img/gift.png' : 'img/marvin.jpg')}}"/>

		<div 
		style="-webkit-transform: translate3d(0px, 0px, 0px);" 
		class="ribbon" 
		ng-if="myRank.rank <= 3">{{myRank.rank}}. plads</div>
		
		<div 
		style="-webkit-transform: translate3d(0px, 0px, 0px);" 
		ng-class="{'background-animation' : myRank.rank <= 3 || myRank.prize}">
		</div>
	</div>


		<div class="quiz_status loser" ng-class="myRank.prize ? 'winner' : 'loser' ">
<!-- 			<div class="status_header padding" ng-class="currentUser.gender">


				<div class="text-center padding">
					<img class="avatar" ng-src="{{currentUser.picture}}">
				</div>
				<h3 class="text-center">{{currentUser.name}}</h3>
			</div> -->


			<div class="text-center answer-status">
				<span>{{myRank.prize ? 'Du har vundet en præmie!' : 'Du vandt desværre ikke nogen præmie'}}</span>
			</div>

			<div class="list card" style="margin-bottom: 0;" ng-if="myRank.prize">
				<div class="item-divider text-center">
					Præmie
				</div>
				<ion-item class="item item-avatar item-text-wrap" >
				<img ng-src="{{ myRank.prize.image }}">
				<h2>{{ myRank.prize.title }}</h2>
				<p>{{ myRank.prize.description }}</p>
				</ion-item>

			</div>
			<div  ng-if="myRank.prize">
				<div class="text-center" style="color: #868686; padding: 10px 15px;">
					Du finder din præmie i dit præmieskab, når quizzen er afsluttet.
				</div>
			</div>


			<div class="card" style="">
				<div class="item-divider text-center">
					Din placering
				</div>
				<div class="rank padding text-center">

					<div class="myrank">
						{{myRank.rank}}
					</div>
					<div class="totalUsers">
						af <strong>{{stats.totalUsersCount }}</strong> deltagere
					</div>
				</div>
			</div>

			<div class="card list stats-list answer-details" ng-if="stats.top3" style="margin-bottom: 0;">
				<div class="item item-divider text-center">Placeringer</div>

				<ion-item ng-repeat="contestant in stats.top3" class="item-icon-left item-text-wrap" ng-class="'{{contestant.token == currentUser.token ? 'me' : ''}}'">
				<i class="icon ion-ribbon-a medal" ng-class="'{{'place-'+$index}}'"></i>
				{{contestant.name}} <span class="top3-answer">svar: {{ contestant.answer ? contestant.answer : 'intet svar' }} </span>
			</ion-item>

			</div>



			<!-- <div class="list card" style="margin-bottom: 0;">
				<div class="item-divider text-center">
					Korrekte svar
				</div>
				<div class="rank padding text-center">

					<div class="myrank">
						{{(myRank.rank == 1 && stats.quizdata.question_type == 1) ? stats.quizdata.question_number : stats.quizdata.question_number -1 }}
					</div>
					<div class="totalUsers">
						af <strong>{{stats.quizdata.question_number }}</strong> spørgsmål
					</div>
				</div>
			</div> -->
			<div  class="list sponsor_ingame left" ng-show="activeQuiz.quiz_sponsor1_image">
				<div class="list-item">
					<img ng-src="{{activeQuiz.quiz_sponsor1_image}}" class="full-image padding"/>
				</div>
			</div>
			<div class="list sponsor_ingame right" ng-show="activeQuiz.quiz_sponsor2_image">
				<div class="list-item">
					<img ng-src="{{activeQuiz.quiz_sponsor2_image}}" class="full-image padding"/>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>
