<ion-view cache-view="false" can-swipe-back="false">
	<ion-nav-title>Quizzen</ion-nav-title>


 	<ion-content class="quiz" >
		<div class="quiz_status" ng-class="currentUser.token == stats.rankings.remaining_users[0].token ? 'winner' : 'loser' ">
			<div class="status_header padding" ng-class="currentUser.gender">

				<div class="text-center padding">
					<img class="avatar" ng-src="{{currentUser.picture}}">
				</div>
				<h3 class="text-center">{{currentUser.name}}</h3>
			</div>


			<div class="text-center answer-status" ng-show="currentUser.token != stats.rankings.remaining_users[0].token">Du vandt desværre ikke!</div>
			<div class="text-center answer-status" ng-show="currentUser.token ==  stats.rankings.remaining_users[0].token">Du har vundet!</div>

			<div class="list card">
				<div class="item-divider text-center">
					Din placering
				</div>
				<div class="rank padding text-center">

					<div class="myrank">
						{{myRank}}
					</div>
					<div class="totalUsers">
						af <strong>{{stats.totalUsers }}</strong> deltagere
					</div>
				</div>
			</div>

			<div class="list card" style="margin-bottom: 0;" ng-show="currentUser.token == stats.rankings.remaining_users[0].token">
				<div class="item-divider text-center">
					Præmie
				</div>
				<ion-item ng-click="goTo('/app/fanzone/prize-list')"  class="item item-avatar item-text-wrap" >
					<img ng-src="{{ stats.prize.image }}">
					<h2>{{ stats.prize.title }}</h2>
					<p>{{ stats.prize.description }}</p>
				</ion-item>


			</div>
			<div  class="list sponsor_ingame left" ng-show="activeQuiz.quiz_sponsor1_image">
				<div class="list-item">
					<img ng-src="{{activeQuiz.quiz_sponsor1_image}}" class="full-image padding"/>
				</div>
			</div>
			<div class="list sponsor_ingame right" ng-show="activeQuiz.quiz_sponsor2_image">
				<div class="list-item">
					<img ng-src="{{activeQuiz.quiz_sponsor2_image}}" class="full-image padding"/>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>
