<ion-view cache-view="false" can-swipe-back="false">
<ion-nav-title>Quizzen</ion-nav-title>

	<ion-content class="quiz quiz-blue" has-bouncing="false" >

		<div class="slide" ng-class="{'animate' : animate}" ui-view></div>

	</ion-content>
</ion-view>