<ion-view class="late-answer" can-swipe-back="false">
	<ion-nav-title>Quizzen</ion-nav-title>
 	<ion-content>

 	<div class="padding">
 		<h5 class="text-center stable"><strong>{{$root.quizError.title}}</strong></h5>
 		<h5 class="text-center stable">{{$root.quizError.subtitle}}</h5>
	</div>
	<div class="header padding">
		<i class="alert-icon ion-ios-close-empty"></i>
	</div>

 	<div class="padding">
 		<h5 class="text-center stable">{{$root.quizError.body}}</h5>
	</div>

	</ion-content>
</ion-view>
