

<!-- <div class="list card countdown" >

	<timer class="timer int-timer" max-time-unit="'second'" interval="1000" end-time="currentQuestion.endtime">
		<ion-item class="item">
		<div class="row">
			<div class="col"></div>
			<div class="col countdown-field">
				<i class="icon ion-ios-stopwatch-outline"></i>
				<span>{{sseconds}}</span>
			</div>
			<div class="col"></div>
		</div>

	</ion-item>

	<div class="progressbar-container">
		<div class="progressbar" style="width: {{sseconds == 0 ? 100 : progressBar}}%;" ></div>
	</div>
</timer>

</div> -->

<div class="card question">
<!-- 	<div class="item item-divider">
		Spørgsmål: {{currentQuestion.question_number}} / {{currentQuestion.questions_total}}
	</div> -->
	<div class="item item-text-wrap question_text">
		{{currentQuestion.question}}
	</div>
</div>
		<countdown endtime="currentQuestion.endtime | calibrateTimer: timeDiff" interval="100" warning="9" danger="4"></countdown>

<div class="list card">
	<div class="item item-divider text-center">
		Angiv dit svar inden tiden løber ud
	</div>

<label class="item item-input quiz_input">
		<div class="answerinput" ng-class="{'disabled' : showCorrectAnswer}"><span ng-bind-html="tempIntAnswer.answer"></span><span class="blinking">|</span></div>
</label>

</div>
<div class="custom-keyboard-container">
	<div class="card custom-keyboard">
		<div class="k-row">
			<div class="key" on-release="pushKey(1)">1</div>
			<div class="key" on-release="pushKey(2)">2</div>
			<div class="key" on-release="pushKey(3)">3</div>
		</div>
		<div class="k-row">
			<div class="key" on-release="pushKey(4)">4</div>
			<div class="key" on-release="pushKey(5)">5</div>
			<div class="key" on-release="pushKey(6)">6</div>
		</div>
		<div class="k-row">
			<div class="key" on-release="pushKey(7)">7</div>
			<div class="key" on-release="pushKey(8)">8</div>
			<div class="key" on-release="pushKey(9)">9</div>
		</div>
		<div class="k-row">
			<div class="key option-key red" on-release="pushKey('delete_all')">Slet alt</div>
			<div class="key" on-release="pushKey(0)">0</div>
			<div class="key option-key red" on-release="pushKey('delete')"><i class="icon ion-backspace"></i></div>
		</div>
	</div>
</div>

<!-- <div  class="list sponsor_ingame left hide-on-keyboard-open" ng-show="quiz.quiz_sponsor1_image">
	<div class="list-item">
		<img ng-src="{{quiz.quiz_sponsor1_image}}" class="full-image padding"/>
	</div>
</div>
<div class="list sponsor_ingame right hide-on-keyboard-open" ng-show="quiz.quiz_sponsor2_image">
	<div class="list-item">
		<img ng-src="{{quiz.quiz_sponsor2_image}}" class="full-image padding"/>
	</div>
</div>

 -->