<div class="stats">
	<div class="users-counter padding">
<!-- 		<div class="remaining-users">
			{{stats.activeUsersCount}} 
		</div> -->
		<div class="total-users">
			<span class="number">{{stats.activeUsersCount}}</span> 
			af <span class="number">{{stats.totalUsersCount}}</span> deltagere 
			<br/>
			<strong>gennemførte</strong> quizzen
		</div>
	</div>

	<div class="card list stats-list question-details">
<!-- 		<div class="item item-divider text-center">Spørgsmål</div>
 -->		<div class="item">
			<div class="question item-text-wrap text-center">
				{{stats.quizdata.question}}
			</div>

		</div>
	</div>

	<div class="card list stats-list answer-details">
		<div class="item item-divider text-center">Korrekt svar</div>
		<div class="item item-text-wrap text-center">
			{{stats.quizdata.int_answer}}
		</div>
	</div>


<!-- 	<div class="list stats-list answer-details" style="margin-bottom: 0;">
		<div class="item item-divider text-center">Placeringer</div>

		<ion-item ng-repeat="contestant in stats.top3" class="item-icon-left item-text-wrap" ng-class="'{{contestant.token == currentUser.token ? 'me' : ''}}'">
				<i class="icon ion-ribbon-a medal" ng-class="'{{'place-'+$index}}'"></i>
				{{contestant.name}} <span class="top3-answer">svar: {{ contestant.answer ? contestant.answer : 'intet svar' }} </span>
		</ion-item>

	</div> -->

		<div  class="list sponsor_ingame left" ng-show="quiz.quiz_sponsor1_image">
			<div class="list-item">
				<img ng-src="{{quiz.quiz_sponsor1_image}}" class="full-image padding"/>
			</div>
		</div>
		<div class="list sponsor_ingame right" ng-show="quiz.quiz_sponsor2_image">
			<div class="list-item">
				<img ng-src="{{quiz.quiz_sponsor2_image}}" class="full-image padding"/>
			</div>
		</div>
</div>

