
<!-- 		
<div class="list" style="margin-bottom: 0">
	<div class="item" style="background: none; border: none;" >

<div class="c100" ng-class="'p{{getCirclePct(testtimer)}}'" style="float: inherit; margin: 0 auto;">
			<span>
			</span>
			<div class="slice">
				<div class="barr"></div>
				<div class="fill"></div>
			</div>
		</div> 

	</div>
</div>
	-->

<!--  end-time="currentQuestion.endtime | calibrateTimer: timeDiff" -->
<!-- <div class="list card countdown" >
	<timer class="timer" max-time-unit="'second'" interval="1000" end-time="testtimer" ng-class="{'flashingTimer' : shouldFlashCountdown(testtimer, 6000)}">
		<ion-item class="item">
		<div class="row">
			<div class="col"></div>
			<div class="col countdown-field">
				<i class="icon ion-ios-stopwatch-outline"></i>
				<span>{{sseconds}}</span>
			</div>
			<div class="col"></div>
		</div>

	</ion-item>

	<div class="progressbar-container">
		<div class="progressbar" style="width: {{sseconds == 0 ? 100 : progressBar}}%;" ></div>
	</div>
</timer>

</div> -->

<div class="card question" >
<!-- 	<div class="item item-divider">
		Spørgsmål: {{currentQuestion.question_number}} / {{currentQuestion.questions_total}}
	</div> -->
	<div class="item item-text-wrap item-text-wrap question_text">
		{{currentQuestion.question}}
	</div>
</div>
		<countdown endtime="currentQuestion.endtime | calibrateTimer: timeDiff" interval="100" warning="9" danger="4"></countdown>

<div class="list card" style="margin-bottom: 0">
	<div class="item item-divider">
		Vælg dit svar
	</div>
	<ion-item 
	ng-repeat="answer in currentQuestion.answers" 
	class="answer item-icon-left" 
	ng-class="{'active-answer' : currentAnswer.id == answer.id && (!showCorrectAnswer || answer.is_right_choice != 1), 'answer-correct' : answer.is_right_choice == 1 && showCorrectAnswer, 'wrong-answer' : currentAnswer.id == answer.id && showCorrectAnswer && answer.is_right_choice != 1} " 
	ng-click="setCurrentAnswer(answer, $index)">
	<i class="icon ion-android-arrow-dropright"></i>

	{{answer.answer}}
</ion-item>
</div>

<div  class="list sponsor_ingame left" ng-show="quiz.quiz_sponsor1_image">
	<div class="list-item">
		<img ng-src="{{quiz.quiz_sponsor1_image}}" class="full-image padding"/>
	</div>
</div>
<div class="list sponsor_ingame right" ng-show="quiz.quiz_sponsor2_image">
	<div class="list-item">
		<img ng-src="{{quiz.quiz_sponsor2_image}}" class="full-image padding"/>
	</div>
</div>
