<div class="quiz_countdown_text text-center">Quizzen starter om:</div>
<timer class="timer" max-time-unit="'minute'" interval="1000" end-time="quiz.quiz_starttimestamp | calibrateTimer: timeDiff">
	<!-- 1498859999999 -->
	<ion-item class="countdown-field-container">
	<div class="row">
 		<div class="col countdown-field">
 			{{mminutes}}:{{sseconds}}
 		</div>
	</div>
		

	</ion-item>
</timer>

<!-- <div class="text-center sponsored_by_text" ng-show="quiz.quiz_sponsor1_image || quiz.quiz_sponsor2_image">Quizzen sponsoreres af:</div> -->

<div class="row">
	<div class="col sponsor_ingame" ng-show="quiz.quiz_sponsor1_image">
		<img ng-src="{{quiz.quiz_sponsor1_image}}" class="full-image padding"/>
	</div>
	<div class="col sponsor_ingame" ng-show="quiz.quiz_sponsor2_image && quiz.quiz_sponsor2_image != quiz.quiz_sponsor1_image">
		<img ng-src="{{quiz.quiz_sponsor2_image}}" class="full-image padding"/>
	</div>
</div>


<!-- <div class="list sponsor_ingame left" ng-show="quiz.quiz_sponsor1_image">
	<div class="list-item">
		<img ng-src="{{quiz.quiz_sponsor1_image}}" class="full-image padding"/>
	</div>
</div>
<div class="list sponsor_ingame right" ng-show="quiz.quiz_sponsor2_image && quiz.quiz_sponsor2_image != quiz.quiz_sponsor1_image">
	<div class="list-item">
		<img ng-src="{{quiz.quiz_sponsor2_image}}" class="full-image padding"/>
	</div>
</div> -->

<!-- <div  class="list sponsor_countdown" ng-show="quiz.quiz_sponsor1_image">
	<div class="list-item">
		<img ng-src="{{quiz.quiz_sponsor1_image}}" class="full-image padding"/>
	</div>
</div>
<div class="list sponsor_countdown" ng-show="quiz.quiz_sponsor2_image && quiz.quiz_sponsor2_image != quiz.quiz_sponsor1_image">
	<div class="list-item">
		<img ng-src="{{quiz.quiz_sponsor2_image}}" class="full-image padding"/>
	</div>
</div> -->