  /*Survey animation*/
.animate.slide-back {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.animate.slide-back.ng-enter,
.animate.slide-back.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.animate.slide-back.ng-enter {
  right: 100%; }

.animate.slide-back.ng-enter-active {
  right: 0; }

.animate.slide-back.ng-leave {
  right: 0; }

.animate.slide-back.ng-leave-active {
  right: -100%; }

  /*Survey Animation end*/