@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.eot');
  src:url('fonts/Montserrat-Regular.eot') format('embedded-opentype'),  
	  url('fonts/Montserrat-Regular.otf')  format('opentype'),
	  url('fonts/Montserrat-Regular.woff') format('woff'), 
	  url('fonts/Montserrat-Regular.ttf')  format('truetype'), 
	  url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Light.eot');
  src: url('fonts/Montserrat-Light.eot') format('embedded-opentype'),  
	   url('fonts/Montserrat-Light.otf')  format('opentype'),
	   url('fonts/Montserrat-Light.woff') format('woff'), 
	   url('fonts/Montserrat-Light.ttf')  format('truetype'), 
	   url('fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: light;
  font-style: normal;
}
