@font-face {
    font-family: 'Raleway';
    src: url('fonts/RalewayRegular.eot');
    src: url('fonts/RalewayRegular.eot') format('embedded-opentype'),
         url('fonts/RalewayRegular.woff2') format('woff2'),
         url('fonts/RalewayRegular.woff') format('woff'),
         url('fonts/RalewayRegular.ttf') format('truetype'),
         url('fonts/RalewayRegular.svg#RalewayRegular') format('svg');
   	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/RalewayMedium.eot');
    src: url('fonts/RalewayMedium.eot') format('embedded-opentype'),
         url('fonts/RalewayMedium.woff2') format('woff2'),
         url('fonts/RalewayMedium.woff') format('woff'),
         url('fonts/RalewayMedium.ttf') format('truetype'),
         url('fonts/RalewayMedium.svg#RalewayMedium') format('svg');
	font-weight: medium;
	font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/RalewayBold.eot');
    src: url('fonts/RalewayBold.eot') format('embedded-opentype'),
         url('fonts/RalewayBold.woff2') format('woff2'),
         url('fonts/RalewayBold.woff') format('woff'),
         url('fonts/RalewayBold.ttf') format('truetype'),
         url('fonts/RalewayBold.svg#RalewayBold') format('svg');
    font-weight: bold;
	font-style: normal;
}
